{% load static %}
{% load i18n %}
<html>
<head>
    <title>Hellocurus</title>
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    <meta name="author" content="Luigi Chougrad" />

    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_favicon %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    {% endblock head_favicon %}
    {% block head_css %}
    <link href="{% static 'css/bootstrap.min.css' %}"
    rel="stylesheet" media="screen">
    <link href="{% static 'css/website.css' %}?v={% now "U" %}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.20/angular-material.css" rel="stylesheet">
    
    {% block head_css_site %}
    
    {% endblock head_css_site %}
    
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
    {% block footer_javascript %}
    {% block footer_javascript_site %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script>window['None']  = null</script><!-- to avoid error from bknd -->
    <script>window['True']  = true</script><!-- to avoid error from bknd -->
    <script>window['False'] = false</script><!-- to avoid error from bknd -->
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website.js' %}?v={% now "U" %}" "></script>
    
    {% endblock footer_javascript_site %}
    {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</head>


<body>
    <div id="page-wrapper" >
        
        <!-- Navigation -->
        <nav id="application-navbar" class="navbar navbar-expand-lg navbar-light static-top">
            <a class="navbar-brand" href="#">
                <img width="140" height="80" src="{% static 'img/website_assets/logo-light.jpg' %}" alt="logo">
            </a>
            <div class="container">
                <div class="wrapper">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive" >
                        <ul class="navbar-nav">
                            <li class="nav-item goto-button" data-target="about-happy-curus-section">
                                <a class="nav-link" >{% trans 'ABOUT_HAPPY_CURUS' %}</a>
                            </li>
                            <li class="nav-item goto-button" data-target="environment-section">
                                <a class="nav-link" >{% trans 'CURUS_AND_THE_ENVIRONMENT' %}</a>
                            </li>
                            <li class="nav-item goto-button" data-target="curus-effect-section">
                                <a class="nav-link">{% trans 'THE_CURUS_EFFECT' %}</a>
                            </li>
                            <li class="nav-item goto-button" data-target="contact-section">
                                <a class="nav-link" >{% trans 'CONTACT' %}</a>
                            </li>
                            <li class="nav-item goto-button" data-target="career-section">
                                <a class="nav-link" >{% trans 'CAREER' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">{% trans 'LANGUAGE' %}</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <a class="navbar-brand second-navbar-brand" href="#">
                <img width="184" height="75" src="{% static 'img/website_assets/Happycurus-Claim_SW.png' %}" alt="logo">
            </a>
        </nav>
        {% block content %}
        {% endblock %}
        <div id="snackbar"></div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        window.onload= ()=>{
            $(".goto-button").click(function(event) {
                event.preventDefault()
                let id = $(this).data('target')
                $('html, body').animate({
                    scrollTop: $(`#${id}`).offset().top - 50
                }, 2000);
            });
            // fixes aos issue https://github.com/michalsnik/aos/issues/416
            $('body').animate( { scrollLeft: '-=460' }, 1000);
            $('body').css('overflow-x','hidden')
        }
        
    </script>
</body>
</html>