            {% extends 'website/base_site.html' %}
            {% load i18n %}
            {% load static %}
            {% block content %}
            <div class="main">
                <div class="section-container">
                    <div class="home-image"></div>
                    <div class="home-box">
                        <h1>{% trans 'home_box_title' %}</h1>
                        <p> {% trans 'home_box_description' %}</p>
                    </div>
                </div>
               
            </div>
            
            
            {% endblock %}