{% extends 'website/base_site.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    .find-more-button span:after{
        content:'PER SAPERNE DI PIÙ';
    }
    /*
    .find-more-button:hover span:after{
        content:'Growth through Awareness';
    }
    
    */
    
</style>


<div class="main">
    <div class="section-container header landing">
        <img class="home-image" src="{% static 'img/website_assets/site/Immagini sito/AdobeStock_96391741.jpg' %}">
        <div class="home-box">
            <div class="home-box-content">
                <h1>Raccogli dati sui tuoi dipendenti.<br>
                    Accresci il loro impegno.<br>
                    Rendi il loro lavoro CO&#8322 neutrale.
                </h1>
                <p>Quanto si sentono coinvolti i membri del tuo team? Quanto sono
                    <br> soddisfatti dei loro compiti? Sono felici sul posto di lavoro?
                    <br>
                    <span class="sentence">Rendi il tuo team profondamente partecipe e CO&#8322; neutrale con <b>Happycurus</b>.</span>
                </p>
            </div>
        </div>
    </div>
    
    <div id="about-happy-curus-section" class="section-container main-container">
        <h1 class="section-title">Da sapere su Happycurus</h1>
        <h4 class="section-subtitle">Le persone non lasciano lavori, ma luoghi di lavoro insoddisfacenti. Grazie ad Happycurus potrai:</h4>
        <div class="row align-items-center about-happy-curus-row">
            <div class="col-md-6 col-xs-12 mx-auto">
                <div class="about-wrapper-description">
                    <b>ACQUISIRE CONSAPEVOLEZZA</b> dei livelli di motivazione e di impegno dei tuoi dipendenti.
                    <b>TENERE TRACCIA</b> di come il coinvolgimento dei tuoi subalterni cambia nel tempo. Scopri come i compiti che assegni loro influenzano il loro stato d'animo. In qualità di manager, avrai accesso esclusivo alle <b>statistiche</b> prodotte utilizzando i dati forniti direttamente dal tuo staff.
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block home-about-box">
                <div id="first-about"></div>
            </div>
        </div>
        <div class="row align-items-center about-happy-curus-row">
            <div class="col-md-6 col-xs-12 mx-auto">
                <div class="about-wrapper-description">
                    <b>SCOPRIRE FATTORI ESPLICATIVI</b> del morale dei tuoi dipendenti: Che tipo di compiti li rende più soddisfatti della loro professione? Sono felici a lavoro o si sentono sollevati quando lasciano l'ufficio?
                    <b>Happycurus</b> fa emergere casi di dipendenti demotivati. La tua azienda trarrà vantaggio dall’essere al corrente di <b>come si sentono gli
                        impiegati.</b>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block  home-about-box">
                    <div id="second-about">
                    </div>
                </div>
            </div>
            <div class="row align-items-center about-happy-curus-row">
                <div class="col-md-6 col-xs-12 mx-auto">
                    <div class="about-wrapper-description">
                        <b>COMUNICARE</b> con il tuo team attraverso i corsi inclusi in Happycurus. I corsi sono articoli che affrontano argomenti utili a tenere alto il morale, come <b>psicologia, produttività, comunicazione,
                            carriera, efficienza</b> e <b>carisma</b>. I manager non hanno il tempo di istruire i dipendenti a livello personale: <b>Happycurus</b> li consiglia al posto tuo.
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block home-about-box">
                        <div id="third-about"></div>
                    </div>
                </div>
                <div class="row align-items-center about-happy-curus-row">
                    <div class="col-md-6 col-xs-12 mx-auto">
                        <div class="about-wrapper-description">
                            <b>RENDERE IL TUO TEAM CO2 NEUTRALE!</b> Happycurus devolve il <b>50% dei suoi profitti</b> a progetti ambientali di riforestazione e sostiene azioni concrete che combattono la desertificazione del pianeta, promuovendo la biodiversità degli ecosistemi. L'utilizzo di <b>Happycurus</b> migliorerà il tuo abusiness e lo renderà anche <b>CO&#8322; neutrale</b> Scopri di più nella <a class="find-more-link goto-button" data-target="environment-section">sezione dedicata del sito</a>.
                            
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block  home-about-box">
                        <div id="fourth-about"></div>
                    </div>
                </div>
                <div class="row find-more-container about-happy-curus-find-more">
                    <div class="col-md-12">
                        <div class="find-more-button">
                            <span></span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="curus-effect-section" class="row">
                <div class="col-md-12 curus-effect-monitor">
                    <h1 class="section-title">L'effetto Happycurus</h1>
                    <h4 class="section-subtitle">Mantieni il controllo su ciò che conta per il tuo lavoro. Incoraggia la produttività, l'ottimismo e lo
                        sviluppo personale dei tuoi dipendenti.</h4>
                        <div class="happy-curus-section-image">
                            <ul>
                                <li data-aos-easing="ease-in-back" data-aos="fade-right">
                                    <span>&#10004;</span> <span>Analizza</span>
                                </li>
                                <li data-aos-easing="ease-in-back" data-aos-delay="300" data-aos="fade-right">
                                    <span>&#10004;</span> <span>Agisci</span>
                                </li>
                                <li data-aos-easing="ease-in-back" data-aos-delay="600" data-aos="fade-right">
                                    <span>&#10004;</span> <span>Migliora</span>
                                </li>
                                <li class="make-it-green" data-aos-easing="ease-in-back" data-aos-delay="1200" data-aos="fade-right">
                                    <span>&#10004;</span> <span>Rendi sostenibile</span></li>
                                </ul>
                                <img src="{% static 'img/website_assets/site/Immagini sito/AdobeStock_220836324.png' %}">
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 curus-effect-box-wrapper">
                                        <div class="curus-effect-box">
                                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Keys.ico' %}">
                                            <p class="curus-effect-box-description">RACCOGLI DATI CHIAVE SUI TUOI DIPENDENTI
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 curus-effect-box-wrapper">
                                        <div class="curus-effect-box">
                                            
                                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-System-analysis.ico' %}">
                                            <p class="curus-effect-box-description">TIENI TRACCIA DEL LORO IMPEGNO GRAZIE A STATISTICHE AFFIDABILI
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 curus-effect-box-wrapper">
                                        <div class="curus-effect-box">
                                            
                                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Global.ico' %}">
                                            <p class="curus-effect-box-description">SVILUPPA L'IMPEGNO DEL TUO TEAM NEL TEMPO
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 curus-effect-box-wrapper">
                                        <div class="curus-effect-box">
                                            
                                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Like.ico' %}">
                                            <p class="curus-effect-box-description">ACCRESCI PRODUTTIVITÀ E LAVORO DI SQUADRA
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 curus-effect-box-wrapper">
                                        <div class="curus-effect-box">
                                            
                                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Diamond.ico' %}">
                                            <p class="curus-effect-box-description">PROMUOVI SVILUPPO PERSONALE E MOTIVAZIONE
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 curus-effect-box-wrapper">
                                        <div class="curus-effect-box">
                                            
                                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Dollar-rotation.ico' %}">
                                            <p class="curus-effect-box-description">ANNULLA L'IMPATTO DEL TUO LAVORO SULL'AMBIENTE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row find-more-container">
                                    <div class="col-md-12">
                                        <div class="find-more-button">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="environment-section">
                        <div class="col-md-12">
                            <h1 class="section-title">Curus e l'ambiente</h1>
                            <h4 class="section-subtitle">Happycurus non è interessato al mero profitto. <b>Doniamo al pianeta il 50% dei nostri guadagni netti</b>.</h4>
                        </div>
                        <div class="row enviroment-row">
                            <div class="row">
                                <div class="col-md-6 col-xs-12 happy-environment-description-container " data-aos="fade-right">
                                    <div class="happy-environment-description">
                                        <div class="content">
                                            Ogni singolo spazio verde sulla Terra è conseguenza della vita pulsante che permea il nostro pianeta. La fiorente bellezza della natura è impareggiabile. La vita in ogni forma e dimensione concepibili pervade il nostro Pianeta e lo sostiene.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-left">
                                    <img class="left" src="{% static 'img/website_assets/site/Immagini sito/spring-276014_1920.jpg' %}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-right">
                                    <img class="right" src="{% static 'img/website_assets/site/Immagini sito/desert-1803878_1920.jpg' %}">
                                </div>
                                <div class="col-md-6 col-xs-12 happy-environment-description-container" data-aos="fade-left">
                                    
                                    <div class="happy-environment-description">
                                        <div class="content">
                                            Tuttavia, l'attività umana sta alterando l'equilibrio della Terra in maniera evidente. Gli effetti delle azioni delle persone stanno già avendo conseguenze allarmanti: foreste, oceani, popolazioni animali, interi ecosistemi stanno soffrendo la presenza irresponsabile ed indifferente dell'uomo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12 happy-environment-description-container" data-aos="fade-right">
                                    
                                    <div class="happy-environment-description">
                                        <div class="content">
                                            Le calotte di ghiaccio della Groenlandia e dell'Antartide si sciolgono a ritmi innaturali. Dati della NASA mostrano che la Groenlandia da sola ha perso in media 286 miliardi di tonnellate di ghiaccio all'anno tra il 1993 e il 2016.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-left">
                                    <img class="left" src="{% static 'img/website_assets/site/Immagini sito/glacier-2083379_1920.jpg' %}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="row col-md-12 no-margin no-padding">
                                    <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-right">
                                        <img class="right" src="{% static 'img/website_assets/site/Immagini sito/16.PNG' %}">
                                    </div>
                                    <div class="col-md-6 col-xs-12 happy-environment-description-container" data-aos="fade-left">
                                        <div class="happy-environment-description">
                                            <div class="content">
                                                Gli alberi apportano beneficio al Pianeta in molti modi: riducono l'anidride carbonica, producono ossigeno, moderano il livello di ozono nell’atmosfera, contrastano l’erosione del suolo, creano e sostengono gli ecosistemi, forniscono cibo agli esseri viventi e molto altro ancora.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 no-margin no-padding">
                                    <div class="col-md-12 curus-donate-section">
                                        <p>
                                            <img src="{% static 'img/website_assets/pallino.png' %}">
                                            <span>Happycurus dona il 50% dei suoi profitti per finanziare azioni di riforestazione.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 happy-environment-description-container" data-aos="fade-right">
                                    
                                    <div class="happy-environment-description">
                                        <div class="content">
                                            La cura dell'ambiente è parte del nostro business model. Se tutte le aziende esistenti prendessero la stessa decisione, il pianeta sarebbe al sicuro. Purtroppo, non è ancora così ma c'è un lato positivo: con Happycurus ogni singolo team può aiutare!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-left">
                                    <img class="left" src="{% static 'img/website_assets/site/Immagini sito/seconda.PNG' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row find-more-container">
                        <div class="col-md-12">
                            <div class="find-more-button">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="section-container" id="motivation-section">
                        <h1 class="section-title">La nostra motivazione</h1>
                        <h4 class="section-subtitle">Sinergia del collettivo per l'efficienza aziendale.</h4>
                        <div class="row align-items-center">
                            <div class="motivation-boxes row col-md-12 mx-auto">
                                <div class="col-md-4 col-xs-12 mx-auto">
                                    <div class="motivation-box">
                                        <div class="motivation-img-wrapper" data-aos="fade">
                                            <img class="motivation-img" src="{% static 'img/website_assets/site/Immagini sito\woman.jpg' %}">
                                        </div>
                                        <div class="motivation-info-wrapper" data-aos="fade-left">
                                            <div class="motivation-info-content">
                                                <div class="motivation-title">PERCHÈ HAPPYCURUS</div>
                                                <div class="motivation-description">
                                                    I manager non hanno tempo di conoscere i propri subalterni a livello personale. Happycurus li dota di consapevolezza: il nostro algoritmo fa emergere casi di dipendenti demotivati e supporta i manager ad agire in modo efficace. Un team proattivo è la chiave del successo aziendale. Happycurus ti permette inoltre di azzerare l’impatto ambientale del lavoro del tuo team.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12 mx-auto">
                                    <div class="motivation-box">
                                        <div class="motivation-img-wrapper" data-aos="fade">
                                            <img class="motivation-img" src="{% static 'img/website_assets/site/Immagini sito\innovation-561388.jpg' %}">
                                        </div>
                                        <div class="motivation-info-wrapper" data-aos="fade-up">
                                            <div class="motivation-info-content">
                                                <div class="motivation-title">CHE COS'È HAPPYCURUS</div>
                                                <div class="motivation-description">
                                                    Happycurus è una soluzione digitale che aiuta i manager molto impegnati a tenere sotto controllo il livello di coinvolgimento dei loro dipendenti e a mantenere alti i livelli di impegno sul posto di lavoro. Happycurus è un software prodotto dall’azienda Curus Digital Solutions. Happycurus dona il 50% dei suoi profitti annuali per sostenere progetti di aiuto ambientale.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12 mx-auto">
                                    <div class="motivation-box">
                                        <div class="motivation-img-wrapper" data-aos="fade">
                                            <img class="motivation-img" src="{% static 'img/website_assets/site/Immagini sito\document-3268750.jpg' %}">
                                        </div>
                                        <div class="motivation-info-wrapper" data-aos="fade-right">
                                            <div class="motivation-info-content">
                                                
                                                <div class="motivation-title">COME FUNZIONA HAPPYCURUS</div>
                                                <div class="motivation-description">
                                                    L'algoritmo di Happycurus produce statistiche e grafici innovativi utilizzando i dati inseriti direttamente dai dipendenti. Il software aiuta i manager a conoscere a fondo il loro team e a tenere alti i livelli di impegno sul posto di lavoro offrendo quotidianamente frasi motivazionali e corsi efficaci su temi quali la carriera, la psicologia, l'efficienza, la comunicazione e il carisma.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row find-more-container">
                                <div class="col-md-12">
                                    <div class="find-more-button">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="glance-section padded-section">
                        <div class="glance-section-container">
                            <h1 class="section-title">HAPPYCURUS IN SINTESI</h1>
                            <div class="glance-row">
                                <img data-aos="fade-right" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-SEO-Practice.ico' %}">
                                <div class="description">
                                    Happycurus tiene i manager al corrente del livello di motivazione del loro dipendenti.
                                </div>
                            </div>
                            <div class="glance-row">
                                <div class="description">
                                    Happycurus aiuta ad incrementare l'impegno sul posto di lavoro.
                                </div>
                                <img data-aos="fade-left" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-Places-Optimization.ico' %}">
                            </div>
                            <div class="glance-row">
                                <img data-aos="fade-right" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-SEO-Goals.ico' %}">
                                <div class="description">
                                    Happycurus promuove una mentalità intraprendente ed orientata all’obiettivo.
                                </div>
                            </div>
                            <div class="glance-row">
                                <div class="description">
                                    Happycurus rende il tuo team CO&#8322; neutrale.
                                </div>
                                <img data-aos="fade-left" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-Market-Analysis.ico' %}">
                            </div>
                        </div>
                    </div>
                    <div id="contact-section" class="contact-form-section padded-section">
                        <div class="contact-form-container">
                            
                            <!-- img src="{% static 'img/website_assets/site/Immagini sito\adventure-1807524.jpg' %}" -->
                            <div class="contact-form-header" data-aos="fade"></div>
                            <form method="POST" class="form contact-form" action="/send_contact_email/" data-aos="fade-up">
                                {% csrf_token %}
                                <h1>CONTATTACI</h1>
                                <div>Sei pronto a scalare il tuo business?
                                    <br> Siamo felici di aiutarti a farlo! Contattaci per ricevere informazioni gratuitamente!
                                    <div>
                                        <label class="form-label" for="name">NOME E COGNOME</label>
                                        <input class="form-control" id="name" name="name" type="text" required />
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="email">E-MAIL</label>
                                    <input class="form-control" id="email" name="email" type="email" required />
                                </div>
                                <div>
                                    <label class="form-label" for="phonenumber">NUMERO DI TELEFONO</label>
                                    <input class="form-control" id="phonenumber" name="phonenumber" type="phonenumber" required />
                                </div>
                                <!-- div>
                                    <label class="form-label" for="subject">Subject</label>
                                    <select class="form-control" id="subject" name="subject" required>
                                        <option value="" selected disabled>Choose a Subject</option>
                                        <optgroup label="Option Group">
                                            <option value="subject-one">Subject One</option>
                                            <option value="subject-two">Subject Two</option>
                                            <option value="subject-three">Subject Three</option>
                                        </optgroup>
                                        <option value="subject-four">Subject Four</option>
                                        <option value="subject-five">Subject Five</option>
                                        <option value="subject-six">Subject Six</option>
                                    </select>
                                </div-->
                                <div>
                                    <label class="form-label" for="message">MESSAGE</label>
                                    <textarea class="form-control" id="message" rows="8" name="message" required>
Ciao Happycurus, 

Vorrei sapere come si sente il mio team 
sul nostro posto di lavoro e desidero accrescere il loro impegno. 
Per favore, inviatemi ulteriori informazioni. 

Con Cordialità,
                                    </textarea>
                                </div>
                                <div class="agreements">
                                    <input class="" id="subscribe" name="subscribe" type="checkbox" />
                                    <label class="form-label" for="subscribe">Acconsento al trattamento dei miei dati personali necessario alla gestione della mia richiesta di contatto. Sono consapevole che le informazioni fornite e i relativi dati sono raccolti e salvati elettronicamente. Ho letto i termini della privacy.</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="find-more-button submit-button" type="submit">
                                            INVIA
                                        </button>
                                    </div>
                                </div>
 
                            </form>
                        </div>
                    </div>
                    
                    <div id="career-section" class="career-section padded-section">
                        <div class="career-info">
                            <h1>Carriera</h1>
                            <p>Sei interessato a lavorare con noi? Non vediamo l'ora di conoscerti.</p>
                        </div>
                    </div>
                    
                    <div class="footer">
                        <div class="footer-image-wrapper logo">
                            <img src="{% static 'img/website_assets/Happycurus-Invers.png' %}">
                        </div>
                        <div class="agreements-box col-md-6 col-centered">
                            <div class="row vertical-align">
                                <div class="col-md-4" onclick="location.href='/website/legal'">LEGALI</div>
                                <div class="col-md-4" onclick="location.href='/website/terms'">TERMINI DI UTILIZZO</div>
                                <div class="col-md-4" onclick="location.href='/website/privacy'">POLITICA SULLA PRIVACY</div>
                            </div>
                        </div>
                        <div class="footer-image-wrapper claim">
                            <img src="{% static 'img/website_assets/Happycurus-Invers_Claim.png' %}">
                        </div>
                    </div>
                </div>
                
                {% endblock %}