{% extends 'website/base_site.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    .find-more-button span:after{
        content:'MEHR HERAUSFINDEN';
    }
    /*
    .find-more-button:hover span:after{
        content:'Growth through Awareness';
    }
    
    */
    
</style>


<div class="main">
    <div class="section-container header landing">
        <img class="home-image" src="{% static 'img/website_assets/site/Immagini sito/AdobeStock_96391741.jpg' %}">
        <div class="home-box">
            <div class="home-box-content">
                <h1>Sammeln Sie Daten über Ihre Mitarbeiter.<br>
                    Verstärken Sie ihr Engagement.<br>
                    Machen Sie ihre Arbeit CO&#8322;-neutral.
                </h1>
                <p>Wie engagiert ist Ihr Team? Wie zufrieden sind Ihre Mitarbeiter mit ihren<br>
                    Aufgaben? Sind sie glücklich am Arbeitsplatz?<br>
                    <span class="sentence">Ein engagiertes und CO&#8322;-neutrales Team durch <b>Happycurus</b>.</span>
                </p>
            </div>
        </div>
    </div>
    <div id="about-happy-curus-section" class="section-container main-container">
        <h1 class="section-title">Über Happycurus</h1>
        <h4 class="section-subtitle">Die Menschen verlassen nicht ihre Arbeit, sondern einen Arbeitsplatz an dem sie unglücklich sind.
            Dank Happycurus können Sie das:</h4>
            <div class="row align-items-center about-happy-curus-row">
                <div class="col-md-6 col-xs-12 mx-auto">
                    <div class="about-wrapper-description">
                        <b>Seien Sie sich</b> des Engagements und der Motivation
                        Ihres Teams <b>bewusst</b>.
                        <b>Verfolgen Sie</b>, wie sich das Engagement und die
                        Moral Ihrer Mitarbeiter im Laufe der Zeit
                        verändern. Finden Sie heraus, wie bestimmte
                        Aufgaben ihre Stimmung beeinflussen. Als Manager
                        haben Sie exklusiven Zugriff auf <b>Statistiken</b>, die aus
                        den Daten Ihrer Mitarbeiter erstellt werden.
                    </div>
                </div>
                <div  class="col-md-6 d-none d-md-block home-about-box">
                    <div id="first-about"></div>
                </div>
            </div>
            <div class="row align-items-center about-happy-curus-row">
                <div class="col-md-6 col-xs-12 mx-auto">
                    <div class="about-wrapper-description">
                        <b>Finden SIE ERKLÄRUNGSFAKTOREN</b> für die Moral
                        Ihrer Mitarbeiter: Welche Art von Aufgaben
                        verschafft Ihnen mehr Zufriedenheit? Sind sie
                        glücklich bei der Arbeit oder sind sie erleichtert,
                        wenn sie das Büro verlassen können? <b>Happycurus</b>
                        hilft demotivierte Mitarbeiter zu identifizieren. Ihr
                        Unternehmen wird davon profitieren, <b>Ihre
                            Mitarbeiter zu kennen.</b>
                        </div>
                    </div>
                    <div  class="col-md-6 d-none d-md-block  home-about-box">
                        <div id="second-about">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center about-happy-curus-row">
                    <div class="col-md-6 col-xs-12 mx-auto">
                        <div class="about-wrapper-description">
                            <b>KOMMUNIZIEREN</b> Sie mit Ihrem Team durch die in
                            Happycurus enthaltenen Kurse. Die Kurse sind
                            Artikel, die nützliche Themen wie  <b>Psychologie,
                                Produktivität, Kommunikation, Karriere, Effizienz</b>
                                und <b>Charisma</b> behandeln.
                                Führungskräfte haben keine Zeit, Mitarbeiter auf
                                persönlicher Ebene einzuweisen. <b>Happycurus</b> berät
                                sie für Sie.
                            </div>
                        </div>
                        <div  class="col-md-6 d-none d-md-block home-about-box">
                            <div id="third-about"></div>
                        </div>
                    </div>
                    <div class="row align-items-center about-happy-curus-row" >
                        <div class="col-md-6 col-xs-12 mx-auto">
                            <div class="about-wrapper-description">
                                <b>MACHEN SIE IHR TEAM CO2-NEUTRAL!</b> Happycurus
                                setzt <b>50% seiner Gewinne</b> für
                                Aufforstungsprojekte ein und unterstützt konkrete
                                grüne Aktionen, die die Wüstenbildung bekämpfen
                                und die biologische Vielfalt fördern. Die Verwendung
                                von <b>Happycurus</b> wird nicht nur Ihre Arbeit, sondern
                                auch den Planeten verbessern. Weitere
                                Informationen finden Sie <a class="find-more-link goto-button" data-target="environment-section">im entsprechenden
                                    Abschnitt unten</a>.
                                    
                                </div>
                            </div>
                            <div  class="col-md-6 d-none d-md-block  home-about-box">
                                <div id="fourth-about" ></div>
                            </div>
                        </div>
                        <div class="row find-more-container about-happy-curus-find-more">
                            <div class="col-md-12">
                                <div class="find-more-button">
                                    <span></span>    
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div id="curus-effect-section" class="row">
                        <div class="col-md-12 curus-effect-monitor">
                            <h1 class="section-title">Der Curus-Effekt</h1>
                            <h4 class="section-subtitle">Behalten Sie die Überwachung über das, was wichtig ist. Förderung von Produktivität, Optimismus und persönlicher Entwicklung.</h4>
                            <div class="happy-curus-section-image">
                                <ul>
                                    <li 
                                    data-aos-easing="ease-in-back"
                                    data-aos="fade-right">
                                    <span>&#10004;</span> <span>Analysieren</span>
                                </li>
                                <li 
                                data-aos-easing="ease-in-back"
                                data-aos-delay="300"
                                data-aos="fade-right">
                                <span>&#10004;</span> <span>Handeln</span>
                            </li>
                            <li 
                            data-aos-easing="ease-in-back"
                            data-aos-delay="600"
                            data-aos="fade-right">
                            <span>&#10004;</span> <span>Verbessern</span>
                        </li>
                        <li class="make-it-green" 
                        data-aos-easing="ease-in-back"
                        data-aos-delay="1200"
                        data-aos="fade-right">
                        <span>&#10004;</span> <span>Make it green</span></li>
                    </ul>
                    <img src="{% static 'img/website_assets/site/Immagini sito/AdobeStock_220836324.png' %}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 curus-effect-box-wrapper">
                        <div class="curus-effect-box">
                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Keys.ico' %}">
                            <p class="curus-effect-box-description">SAMMELN SIE
                                KENNZAHLEN ÜBER
                                IHRE MITARBEITER
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 curus-effect-box-wrapper">
                        <div class="curus-effect-box">
                            
                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-System-analysis.ico' %}">
                            <p class="curus-effect-box-description">BEHALTEN SIE DEN ÜBERBLICK
                                ÜBER IHR ENGAGEMENT MIT HILFE
                                VON AUSSAGEKRÄFTIGEN STATISTIKEN
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 curus-effect-box-wrapper">
                        <div class="curus-effect-box">
                            
                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Global.ico' %}">
                            <p class="curus-effect-box-description">VERBESSEREN SIE DAS
                                ENGAGEMENT IHRER
                                MITARBEITER IM LAUF
                                DER ZEIT
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 curus-effect-box-wrapper">
                        <div class="curus-effect-box">
                            
                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Like.ico' %}">
                            <p class="curus-effect-box-description">STEIGERN SIE
                                PRODUKTIVITÄT UND
                                TEAMWORK
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 curus-effect-box-wrapper">
                        <div class="curus-effect-box">
                            
                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Diamond.ico' %}">
                            <p class="curus-effect-box-description">FÖRDERN SIE DIE
                                PERSÖNLICHE ENTWICKLUNG
                                UND MOTIVATION IM TEAM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 curus-effect-box-wrapper">
                        <div class="curus-effect-box">
                            
                            <img src="{% static 'img/website_assets/site/Icone Sito Internet/Graphicloads-Flat-Finance-Dollar-rotation.ico' %}">
                            <p class="curus-effect-box-description">GLEICHEN SIE DIE
                                AUSWIRKUNGEN IHRER
                                ARBEIT AUF DIE UMWELT
                                AUS
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row find-more-container">
                    <div class="col-md-12">
                        <div class="find-more-button">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="environment-section">
            <div class="col-md-12">
                <h1 class="section-title">Happycurus und die Umwelt</h1>
                <h4 class="section-subtitle">Happycurus ist nicht daran interessiert, große Gewinne zu erzielen. <b>Wir spenden die 50% unseres Nettogewinns an den Planeten</b>.</h4>
            </div>
            <div class="row enviroment-row">
                <div class="row">
                    <div class="col-md-6 col-xs-12 happy-environment-description-container " data-aos="fade-right">
                        <div class="happy-environment-description">
                            <div class="content">
                                Jedes einzelne kleine grüne Fleck auf
                                der Erde ist der Effekt des pulsierenden
                                Lebens, das unseren Planeten
                                durchdringt.
                                
                                Die blühende Schönheit der Erde ist
                                einzigartig. Leben in jeder erdenklichen
                                Form und Größe durchdringt unseren
                                Planeten. Und es unterstützt ihn auch.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-left">
                        <img class="left" src="{% static 'img/website_assets/site/Immagini sito/spring-276014_1920.jpg' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-right">
                        <img class="right" src="{% static 'img/website_assets/site/Immagini sito/desert-1803878_1920.jpg' %}">
                    </div>
                    <div class="col-md-6 col-xs-12 happy-environment-description-container" data-aos="fade-left">
                        
                        <div class="happy-environment-description">
                            <div class="content">
                                Allerdings verändern die Handlungen des
                                Menschen das Gleichgewicht der Erde. Die
                                Auswirkungen des Handelns der Menschen
                                haben bereits jetzt alarmierende Folgen:
                                Wälder, Ozeane, die Größe der
                                Wildpopulationen, ganze Ökosysteme leiden
                                unter den Handlungen des Menschen.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 happy-environment-description-container" data-aos="fade-right">
                        
                        <div class="happy-environment-description">
                            <div class="content">
                                Die grönländischen und antarktischen
                                Eisschilde haben an Masse
                                
                                abgenommen. Daten des NASA-
                                Experiments "Gravity Recovery and
                                
                                Climate Experiment" zeigen, dass
                                Grönland zwischen 1993 und 2016
                                durchschnittlich 286 Milliarden Tonnen
                                Eis pro Jahr verloren hat.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-left">
                        <img class="left" src="{% static 'img/website_assets/site/Immagini sito/glacier-2083379_1920.jpg' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-12 no-margin no-padding">
                        <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-right">
                            <img  class="right" src="{% static 'img/website_assets/site/Immagini sito/16.PNG' %}">
                        </div>
                        <div class="col-md-6 col-xs-12 happy-environment-description-container" data-aos="fade-left">
                            <div class="happy-environment-description">
                                <div class="content">
                                    Bäume kommen dem Planeten in vielerlei Hinsicht zugute:
                                    Sie reduzieren Kohlendioxid, sie produzieren Sauerstoff,
                                    sie reduzieren den Ozongehalt, sie kämpfen gegen die
                                    Erosion, sie schaffen Ökosysteme, sie geben Nahrung und
                                    vieles mehr.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 no-margin no-padding">
                        <div class="col-md-12 curus-donate-section">
                            <p>
                                <img src="{% static 'img/website_assets/pallino.png' %}">
                                <span>Happycurus spendet 50% seines Gewinns zur Finanzierung der Wiederaufforstung.</span>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 happy-environment-description-container" data-aos="fade-right">
                        
                        <div class="happy-environment-description">
                            <div class="content">
                                Der Schutz der Umwelt ist Teil unseres
                                Geschäftsmodells. Wenn alle bestehenden
                                Unternehmen die gleiche Entscheidung
                                treffen würden, wäre der Planet sicher.
                                Leider ist dies noch nicht der Fall, aber es
                                gibt eine positive Seite: mit Happycurus
                                kann jedes einzelne Team helfen!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 happy-environment-image d-none d-md-block" data-aos="fade-left">
                        <img class="left" src="{% static 'img/website_assets/site/Immagini sito/seconda.PNG' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row find-more-container">
            <div class="col-md-12">
                <div class="find-more-button">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="section-container" id="motivation-section">
            <h1 class="section-title">Unsere Motivation</h1>
            <h4 class="section-subtitle">Teamsynergie für die Effizienz des Unternehmens.</h4>
            <div class="row align-items-center">
                <div class="motivation-boxes row col-md-12 mx-auto">
                    <div class="col-md-4 col-xs-12 mx-auto">
                        <div class="motivation-box">
                            <div class="motivation-img-wrapper" data-aos="fade">
                                <img class="motivation-img" src="{% static 'img/website_assets/site/Immagini sito\woman.jpg' %}">
                            </div>
                            <div class="motivation-info-wrapper" data-aos="fade-left">
                                <div class="motivation-info-content">
                                    <div class="motivation-title">WARUM HAPPYCURUS</div>
                                    <div class="motivation-description">
                                        Die meisten Manager
                                        haben keine Zeit, ihre
                                        Mitarbeiter auf
                                        persönlicher Ebene
                                        kennen zu lernen.
                                        Happycurus schafft
                                        Bewusstsein: Sein
                                        Algorithmus bringt Fälle
                                        von demotivierten
                                        Mitarbeitern hervor und
                                        unterstützt Vorgesetzte
                                        dabei, effektiv zu
                                        handeln. Engagierte
                                        Teams bedeuten Erfolg
                                        für Unternehmen.
                                        Happycurus macht auch
                                        die Aufgaben Ihres Teams
                                        CO&#8322;-neutral.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mx-auto">
                        <div class="motivation-box">
                            <div class="motivation-img-wrapper" data-aos="fade">
                                <img class="motivation-img" src="{% static 'img/website_assets/site/Immagini sito\innovation-561388.jpg' %}">
                            </div>
                            <div class="motivation-info-wrapper" data-aos="fade-up">
                                <div class="motivation-info-content">
                                    <div class="motivation-title">WAS IST HAPPYCURUS</div>
                                    <div class="motivation-description">
                                        Happycurus ist eine
                                        digitale Lösung, die
                                        vielbeschäftigten
                                        Managern hilft, das
                                        Engagement ihrer
                                        Mitarbeiter zu
                                        verwalten und ein
                                        hohes Maß an
                                        Engagement am
                                        Arbeitsplatz
                                        aufrechtzuerhalten.
                                        Als eine der Software
                                        der deutschen Firma
                                        Curus Digital Solutions
                                        spendet Happycurus
                                        einen Teil des Gewinns
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mx-auto">
                        <div class="motivation-box" >
                            <div class="motivation-img-wrapper" data-aos="fade">
                                <img class="motivation-img" src="{% static 'img/website_assets/site/Immagini sito\document-3268750.jpg' %}">
                            </div>
                            <div class="motivation-info-wrapper" data-aos="fade-right">
                                <div class="motivation-info-content">
                                    
                                    <div class="motivation-title">WIE HAPPY CURUS FUNKTIONIERT</div>
                                    <div class="motivation-description">
                                        Der Happycurus-
                                        Algorithmus erzeugt
                                        
                                        innovative Statistiken und
                                        Grafiken aus den von den
                                        Mitarbeitern zur
                                        Verfügung gestellten
                                        Daten.
                                        Die Software hilft
                                        Managern, ihre Teams
                                        gründlich kennen zu
                                        lernen und sie durch
                                        tägliche motivierende
                                        Angebote und effektive
                                        Kurse zu beschäftigen. Die
                                        Artikel behandeln Themen
                                        wie Karriere, Psychologie,
                                        Effizienz, Kommunikation
                                        und Charisma.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row find-more-container">
                    <div class="col-md-12">
                        <div class="find-more-button">
                            <span></span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="glance-section padded-section">
                <div class="glance-section-container">
                    <h1 class="section-title">HAPPYCURUS IM ÜBERBLICK</h1>
                    <div class="glance-row">
                        <img data-aos="fade-right" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-SEO-Practice.ico' %}">
                        <div class="description">
                            Happycurus informiert Manager über das Engagement
                            ihrer Teams.
                        </div>
                    </div>
                    <div class="glance-row" >
                        <div class="description">
                            Happycurus unterstützt das Engagement am Arbeitsplatz.
                        </div>
                        <img data-aos="fade-left" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-Places-Optimization.ico' %}">
                    </div>
                    <div class="glance-row" >
                        <img data-aos="fade-right" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-SEO-Goals.ico' %}">
                        <div class="description">
                            Happycurus fördert eine zielorientierte Mentalität.
                        </div>
                    </div>
                    <div class="glance-row">
                        <div class="description">
                            Happycurus macht Ihr Team CO&#8322;-neutral.
                        </div>
                        <img  data-aos="fade-left" src="{% static 'img/website_assets/site/Icone Sito Internet\Designbolts-Seo-Market-Analysis.ico' %}">
                    </div>
                </div>    
            </div>
            <div id="contact-section" class="contact-form-section padded-section">
                <div class="contact-form-container"> 
                    
                    <!-- img src="{% static 'img/website_assets/site/Immagini sito\adventure-1807524.jpg' %}" -->
                    <div class="contact-form-header" data-aos="fade"></div>
                    <form method="POST" class="form contact-form" action="/send_contact_email/" data-aos="fade-up">
                        {% csrf_token %}
                        <h1>Kontakt</h1>
                        <div> Are you ready to skyrocket your business?<br>
                            We are looking forward to helping you too! Get your free information now!
                            <div>
                                <label class="form-label" for="name">FIRST NAME AND LAST NAME</label>
                                <input class="form-control" id="name" name="name" type="text" required />
                            </div>
                        </div>
                        <div>
                            <label class="form-label" for="email">E-MAIL</label>
                            <input class="form-control" id="email" name="email" type="email" required />
                        </div>
                        <div>
                            <label class="form-label" for="phonenumber">PHONE NUMBER</label>
                            <input class="form-control" id="phonenumber" name="phonenumber" type="phonenumber" required />
                        </div>                                        
                        <div>
                            <label class="form-label" for="message">MESSAGE</label>
                            <textarea class="form-control" id="message" rows="8" name="message" required>
Hi Happycuruss,
Ich möchte wissen, wie sich mein Team an unserem Arbeitsplatz fühlt, und ich möchte ihr
Engagement verbessern.
Bitte senden Sie mir weitere Informationen zu.
Mit freundlichen Grüßen,
                            </textarea>
                        </div>
                        <div class="agreements">
                            <input class="" id="subscribe" name="subscribe" type="checkbox" />
                            <label class="form-label" for="subscribe">Ich stimme zu, dass meine Angaben und Daten zur Beantwortung meiner Kontaktaufnahme elektronisch erhoben und gespeichert werden. Ich habe die Datenschutzerklärung zur Kenntnis genommen.</label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="find-more-button submit-button" type="submit">
                                    SENDEN
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="career-section" class="career-section padded-section">
                <div class="career-info">
                    <h1>KARRIERE</h1>
                    <p>Sind Sie an einer Zusammenarbeit mit uns interessiert? Wir freuen uns, Sie
                        kennenzulernen.</p>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="footer-image-wrapper logo">
                        <img src="{% static 'img/website_assets/Happycurus-Invers.png' %}">
                    </div>
                    <div class="agreements-box col-md-6 col-centered">
                        <div class="row vertical-align">
                            <div class="col-md-4" onclick="location.href='/website/legal'">IMPRESSUM</div>
                            <div class="col-md-4" onclick="location.href='/website/terms'">RECHTSBEGRIFFE</div>
                            <div class="col-md-4" onclick="location.href='/website/privacy'">DATENSCHUTZERKLÄRUNG</div>
                        </div>
                    </div>
                    <div class="footer-image-wrapper claim">
                        <img src="{% static 'img/website_assets/Happycurus-Invers_Claim.png' %}">
                    </div>
                </div>
            </div>
        </div>
        
        {% endblock %}