{% extends 'website/base_site.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="main simple-page-padded">
    
    <h1>LEGAL</h1>
    First address:</br>
    CG GREEN SOLUTIONS LTD </br>
    Quest House Suite 2, Ground Floor, 125-135 Staines Rd, </br>
    Hounslow, United Kingdom, TW3 3JB</br>
    
    cggreensolutions@gmail.com</br>
    
    Register office:</br>
    England and Wales</br>
    Company Number: 12581125</br>
    
    <h1>LIABILITY FOR CONTENTS</h1>
    <p>The contents of our pages were created with the greatest care. For the correctness, completeness and topicality of the contents we can take over however no guarantee. As a service provider we are responsible for our own contents on these pages according to the general laws. We are not obliged as a service provider to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information in accordance with general laws remain unaffected by this. However, liability in this respect is only possible from the time of knowledge of a concrete violation of the law. As soon as we become aware of such infringements, we will remove the content immediately.</br>
        Furthermore, no liability is assumed for the contents shared anonymously and not anonymously by the users, which are exchanged via the Happycurus platform.</p>
        
        <h1>COPYRIGHT LAW</h1>
        The contents and works on these pages created by the site operators are subject to United Kingdom copyright law. Duplication, processing, distribution and any form of commercialization of such material beyond the scope of the copyright law shall require the prior written consent of its respective author or creator. Downloads and copies of these pages are only permitted for private, non-commercial use. Insofar as the content on this site was not created by the operator, the copyrights of third parties are respected.
</div>
{% endblock %}