{% load static %}
{% load i18n %}

<!DOCTYPE html>
<head>
  <link href="{% static 'css/bootstrap.min.css' %}"
  rel="stylesheet" media="screen">
  <link href="{% static 'css/app.css' %}?v={% now "U" %}"
  rel="stylesheet" media="screen">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.20/angular-material.css"
  rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}?v={% now "U" %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'css/evaluate_mood.css' %}?v={% now "U" %}">
  
</head>
<html>
<body>
  <div class="page-wrapper">
    <section id="mood-section">
      <div class="container">
        <div class="corus-dot"></div>
        <h1 class="title">
          <div class="curus-badge"></div>
          {% trans 'HOW_DO_YOU_FEEL' %}
        </h1>
        <div class="date row">
          <div class="date-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
          </div>
          <div class="date-text">
            {% now "jS F Y" %}
          </div>
        </div>
        
        <div class="moods-wrapper row">
          {% for mood in moods %}
          <div class="mood col-md-2" data-mood="{{mood.pk}}">
            <img src="{% static mood.icon.name %}">
            <div class="mood-text">
              {% trans mood.i18n_key%}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="curus-badge"></div>
        <h1>{% trans 'YOUR_TOUGHTS_VISIBILE_ONLY_TO_YOU'%}</h1>
        <textarea  placeholder="{% trans 'WRITE_SOMETHING_THAT_YOU_WANNA_TO_REMEMBER' %}" id="current-tought" class="current-tought"></textarea>
      </div>
    </section>
    <section id="freetime-section">
      <h1 class="title">
        <div class="curus-badge"></div>
        {% trans 'WHAT_HAVE_YOU_BEEN_UP_TODAY' %}
      </h1>
      <div id="activities-container" class="row">
        {% for freetime_choose in freetime_available_choose %}
        <div class="freetime-box-wrapper col-md-2" data-activity="{{freetime_choose.pk}}">
          <div class="freetime-box">
            <img src="{% static freetime_choose.icon.name %}">
            <p> {% trans freetime_choose.i18n_key %} </p>
          </div>
        </div>
        {% endfor %}
        {% for freetime_choose in team_freetime_available_choose %}
        <div class="freetime-box-wrapper col-md-2" data-activity="{{freetime_choose.pk}}">
          <div class="freetime-box">
            <img src="{{ freetime_choose.icon.name }}">
            <p> {% trans freetime_choose.i18n_key %} </p>
          </div>
        </div>
        {% endfor %}
        <div type="button" class="add-edit-button freetime-box col-md-2" data-type="MP" href="#add-activity-modal">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1280.000000pt" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M6030 12793 c-753 -44 -1534 -233 -2220 -538 -1650 -733 -2911 -2118 -3480 -3825 -157 -469 -251 -913 -307 -1450 -25 -236 -25 -946 0 -1175 113 -1040 410 -1924 934 -2775 862 -1397 2248 -2418 3837 -2825 561 -144 1043 -205 1611 -205 883 0 1709 170 2523 519 1365 585 2494 1641 3171 2966 328 641 549 1350 645 2069 45 329 51 441 50 866 0 431 -8 554 -59 908 -200 1380 -869 2690 -1873 3663 -1099 1067 -2515 1694 -4060 1799 -138 9 -634 11 -772 3z m715 -1243 c488 -35 999 -144 1439 -307 999 -370 1852 -1030 2453 -1896 500 -722 802 -1535 900 -2427 25 -229 25 -806 0 -1030 -72 -645 -229 -1195 -501 -1755 -666 -1370 -1905 -2372 -3395 -2745 -422 -106 -756 -145 -1236 -145 -346 0 -462 7 -730 46 -1106 159 -2132 669 -2914 1448 -754 752 -1263 1727 -1446 2771 -57 329 -69 476 -69 875 0 406 10 539 64 863 221 1310 921 2469 1970 3264 793 600 1762 966 2742 1037 165 12 561 12 723 1z"/>
              <path d="M5924 9299 c-18 -20 -19 -57 -22 -1210 l-2 -1189 -1189 -2 c-1153 -3 -1190 -4 -1210 -22 -21 -19 -21 -24 -21 -476 0 -452 0 -457 21 -476 20 -18 57 -19 1210 -22 l1189 -2 2 -1189 c3 -1153 4 -1190 22 -1210 19 -21 24 -21 476 -21 452 0 457 0 476 21 18 20 19 57 22 1210 l2 1189 1189 2 c1153 3 1190 4 1210 22 21 19 21 24 21 476 0 452 0 457 -21 476 -20 18 -57 19 -1210 22 l-1189 2 -2 1189 c-3 1153 -4 1190 -22 1210 -19 21 -24 21 -476 21 -452 0 -457 0 -476 -21z"/>
            </g>
          </svg>
        </div>
      </div>
    </section>
    <section id="marketplace-mood-section">
        <div class="container">
          <div class="corus-dot"></div>
          <h1 class="title">
            <div class="curus-badge"></div>
            {% trans 'HOW_DO_YOU_FEEL' %}
          </h1>
          <div class="date row">
            <div class="date-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
            </div>
            <div class="date-text">
              {% now "jS F Y" %}
            </div>
          </div>
          
          <div class="moods-wrapper row">
            {% for mood in moods %}
            <div class="marketplace-mood col-md-2" data-mood="{{mood.pk}}">
              <img src="{% static mood.icon.name %}">
              <div class="mood-text">
                {% trans mood.i18n_key%}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="curus-badge"></div>
          <h1>{% trans 'YOUR_TOUGHTS_VISIBILE_ONLY_TO_YOU'%}</h1>
          <textarea placeholder="{% trans 'WRITE_SOMETHING_THAT_YOU_WANNA_TO_REMEMBER' %}" id="current-tought-marketplace" class="current-tought"></textarea>
        </div>
      </section>
      <section id="marketplace-section">
          <h1 class="title">
            <div class="curus-badge"></div>
            {% trans 'WHAT_HAVE_YOU_BEEN_UP_TODAY' %}
          </h1>
          <div id="marketplace-activities-container" class="row">
            {% for marketplace_choose in marketplace_available_choose %}
            <div class="marketplace-box-wrapper col-md-2" data-activity="{{marketplace_choose.pk}}">
              <div class="freetime-box">
                <img src="{% static marketplace_choose.icon.name %}">
                <p> {% trans marketplace_choose.i18n_key %} </p>
              </div>
            </div>
            {% endfor %}
            {% for freetime_choose in team_marketplace_available_choose %}
            <div class="marketplace-box-wrapper col-md-2" data-activity="{{marketplace_choose.pk}}">
              <div class="freetime-box">
                <img src="{{ marketplace_choose.icon.name }}">
                <p> {% trans marketplace_choose.i18n_key %} </p>
              </div>
            </div>
            {% endfor %}
            <div type="button" class="add-edit-button freetime-box col-md-2" data-type="FT" href="#add-activity-modal">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1280.000000pt" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                  <path d="M6030 12793 c-753 -44 -1534 -233 -2220 -538 -1650 -733 -2911 -2118 -3480 -3825 -157 -469 -251 -913 -307 -1450 -25 -236 -25 -946 0 -1175 113 -1040 410 -1924 934 -2775 862 -1397 2248 -2418 3837 -2825 561 -144 1043 -205 1611 -205 883 0 1709 170 2523 519 1365 585 2494 1641 3171 2966 328 641 549 1350 645 2069 45 329 51 441 50 866 0 431 -8 554 -59 908 -200 1380 -869 2690 -1873 3663 -1099 1067 -2515 1694 -4060 1799 -138 9 -634 11 -772 3z m715 -1243 c488 -35 999 -144 1439 -307 999 -370 1852 -1030 2453 -1896 500 -722 802 -1535 900 -2427 25 -229 25 -806 0 -1030 -72 -645 -229 -1195 -501 -1755 -666 -1370 -1905 -2372 -3395 -2745 -422 -106 -756 -145 -1236 -145 -346 0 -462 7 -730 46 -1106 159 -2132 669 -2914 1448 -754 752 -1263 1727 -1446 2771 -57 329 -69 476 -69 875 0 406 10 539 64 863 221 1310 921 2469 1970 3264 793 600 1762 966 2742 1037 165 12 561 12 723 1z"/>
                  <path d="M5924 9299 c-18 -20 -19 -57 -22 -1210 l-2 -1189 -1189 -2 c-1153 -3 -1190 -4 -1210 -22 -21 -19 -21 -24 -21 -476 0 -452 0 -457 21 -476 20 -18 57 -19 1210 -22 l1189 -2 2 -1189 c3 -1153 4 -1190 22 -1210 19 -21 24 -21 476 -21 452 0 457 0 476 21 18 20 19 57 22 1210 l2 1189 1189 2 c1153 3 1190 4 1210 22 21 19 21 24 21 476 0 452 0 457 -21 476 -20 18 -57 19 -1210 22 l-1189 2 -2 1189 c-3 1153 -4 1190 -22 1210 -19 21 -24 21 -476 21 -452 0 -457 0 -476 -21z"/>
                </g>
              </svg>
            </div>
          </div>
        </section>
        <section id="daily-quote-section">
            <div class="curus-badge-white"></div>
            <div class="quote-container">
              <div id="quote"></div>
              <div id="author"></div>
            </div>
        </section>
    <div class="submit-button-container col-md-12">
      <button id="submit-button" (click)="submit()" type="button" class="align-self-end btn btn-lg btn-block btn-primary submit-button btn-sm waves-effect waves-light">Save</button>
    </div>
  </div>
</body>
<footer>
  <script type="text/javascript" src="{% static 'js/evaluate_mood.js' %}?v={% now "U" %}"></script>
</footer>
<div id="add-activity-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add activity</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="icon-list-control prev-available-icons col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 8 8"><path d="M5 0L1 4l4 4l1.5-1.5L4 4l2.5-2.5L5 0z" fill="#626262"/></svg>
            </div>
            <div class="col-md-10 icon-list container-fluid">
                <div class="row flex-row flex-nowrap">
                  {% for icon_src in available_icons %}
                    <div class="col-3">
                        <div class="card card-block">
                          <img class="available-icon" src="{% static icon_src %}">
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="icon-list-control next-available-icons col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 8 8"><path d="M2.5 0L1 1.5L3.5 4L1 6.5L2.5 8l4-4l-4-4z" fill="#626262"/></svg>
            </div>
          </div>
        <div class="row">
          <div class="selected-icon-wrapper col-md-12">
            <img id="selected-icon" src="">
          </div>
          <input id="new-activity-name" name="new-activity-name" placeholder="{% trans 'NEW_ACTIVITY_NAME_PLACEHOLDER' %}">
        </div>
      </div>

      <div class="modal-footer">
        <button id="add-activity-submit-button" type="button" class="btn btn-default">{% trans 'ok' %}</button>
      </div>
      
    </div>
    <script>
        var activityName = null;
        var activitySrc = null;
        var activityType = null;


        $('.next-available-icons').click(function(){ $('.icon-list').animate({scrollLeft:'+=' + 250 }) })
        $('.prev-available-icons').click(function(){ $('.icon-list').animate({scrollLeft:'-=' +  250 }) })

        $('.available-icon').click(function(event){
            activitySrc =  $(this).attr('src');
            $('#selected-icon').attr('src',activitySrc);
        })

        $('.add-activity-modal').click(function(event){
          activityType = $(this).data('type')
        })

        $('#add-activity-submit-button').click(function(event){
            activityName = $('#new-activity-name').val()
            if(activityName == null || activityName.length == 0 || activitySrc == null) return;
            $('#add-activity-modal').modal('toggle');
            $.post('/add_activity/', {
              'type': type,
              'src' : activitySrc,
              'name' : activityName
            },function(response){
                var id = response['id']
                var src = response['icon']
                var value = response['name']
                $('#activities-container').append(
                  '<div class="freetime-box-wrapper col-md-2" data-activity="'+id+'">' +
                    '<div class="freetime-box">' +
                      '<img src="'+src+'">'+
                      '<p> '+ value +'</p>'+
                    '</div>'+
                  '</div>')
            })


        })
      </script>
  </div>
</div>
</html>