{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}


{% block head_css_section %}
<link href="{% static 'css/curus.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="curus-section">
    {{curus.description|safe}}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="tree" src="{% static 'img/website_assets/icona_albero.png' %}">
                </div>
            </div>
            <div>
                <div class="counter">{{curus.count|intcomma}}</div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="happy-corus-info">{% trans 'HAPPY_CURUS_INFO' %}</div>
            <p class="curus-greeting">{% trans 'YOUR_HAPPY_TEAM' %}</p>
        </div>
    </div>
</div>


{% endblock %}