{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head_css_section %}
<link href="{% static 'css/courses.css' %}?{% now "U" %}" rel="stylesheet">
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block footer_javascript_section %}
<script>let manager = false</script>
<script src="{% static 'js/home.js' %}?{% now "U" %}" type="text/javascript"></script>
{% endblock footer_javascript_section %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="calendar">
      <div class="calendar__month">
        <div class="cal-month__previous"><</div>
        <div class="cal-month__current"></div>
        <div class="cal-month__next">></div>
      </div>
      <div class="calendar__head">
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
      </div>
      <div class="calendar__body">
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h1>{% trans 'NEW_COURSES' %}</h1>
    {% for course in courses %}
        <div class="col-md-6">
            <div class="course-wrapper row" onClick="location.href='/courses/{{course.pk}}'">
                <div class="course-title col-md-10">{{course.title}}</div>
                <div class="seen-icon col-md-2">
                    <span class="course-seen glyphicon glyphicon-play"></span>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-12 show-more-button"><a href="/courses">{% trans 'SHOW_MORE' %}</a></div>
  </div>

  <div class="row">
    <h1>{% trans 'COMPLETE_STATISTICS' %}</h1>  
    <div class="col-md-4">
      <div id="freetime-bar-chart" class="chart"></div>
    </div>
    <div class="col-md-4">
      <div id="freetime-line-chart" class="chart"></div>
    </div>
    <div class="col-md-4 show-more-button"><a href="/statistics">{% trans 'SHOW_MORE' %}</a></div>
  </div>
<!-- End Container -->




<div class="modal fade" id="tought-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-body p-4" id="result">
        <div class="row">
          <div class="col-md-2 section-title"><h1>{% trans 'FREETIME'%}</h1></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'YOUR_MOOD'%}</div>
          <div id="tought-modal-mood-freetime" class="col-md-10"></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'YOUR_TOUGHT'%}</div>
          <div id="tought-modal-tought-freetime" class="col-md-10"></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'ACTIVITIES'%}</div>
          <div id="tought-modal-activities-freetime" class="row col-md-10"></div>
        </div>
        <div class="row">
          <div class="col-md-2 section-title"><h1>{% trans 'MARKETPLACE'%}</h1></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'YOUR_MOOD'%}</div>
          <div id="tought-modal-mood-marketplace" class="col-md-10"></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'YOUR_TOUGHT'%}</div>
          <div id="tought-modal-tought-marketplace" class="col-md-10"></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'ACTIVITIES'%}</div>
          <div id="tought-modal-activities-marketplace" class="row col-md-10"></div>
        </div>
        <div class="row info-row">
          <div class="col-md-2">{% trans 'MOTIVATIONAL_QUOTE'%}</div>
          <div id="tought-modal-motivational-quote" class="col-md-10"></div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button id="view-statistics" type="button" class="btn btn-secondary">{% trans 'VIEW_STATISTICS' %}</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">    
    var moods = {
        {% for mood in moods %}
        {{mood.value}} : {
            'icon'  : "{% static mood.icon.name %}",
            'color' : '{{mood.color_code}}'
        },
        {% endfor %}
    }
    
    var dataFreetime = [
    {% for tought in toughts%}
    {
        "date": "{{tought.created_at|date:"d-m-Y" }}", //H:i
        "mood": "{{tought.mood.value}}",
        "name": "{{tought.mood.i18n_key}}",
        'mood_color' : '{{tought.mood.color_code}}',
        "activities": {{tought.activities|safe}},

        },
        {% endfor %}
    ]
    var dataMarketPlace = [
        {% for tought in marketplace_toughts%}
        {
            "date": "{{ tought.created_at|date:"d-m-Y" }}", //H:i
            "mood": "{{tought.mood.value}}",
            "name": "{{tought.mood.i18n_key}}",
            'mood_color' : '{{tought.mood.color_code}}',
            "activities": {{tought.activities|safe}},

        },
        {% endfor %}
    ]
    
    
    
    dataFreetime.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    dataMarketPlace.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    
    

</script>
<script src="{% static 'js/statistics.js' %}?v={% now "U" %}" type="text/javascript"></script>
<script type="text/javascript">
 
  $(document).ready(function(){
      try{
          lineChart("#freetime-line-chart", dataFreetime, 200 ,200)
          $('.path-image').hide(200)
      }catch(ex){
          $("#freetime-line-chart").hide();
      }
      barChart("#freetime-bar-chart", dataFreetime,'freetime-radar-chart', 200, 200)
  })
  </script>
{% endblock %}