{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head_css_section %}
<link href="{% static 'css/home.css' %}?{% now 'U' %}" rel="stylesheet">
<link href="{% static 'css/courses.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock head_css_section %}

{% block footer_javascript_section %}
<script>let manager = false</script>
<script src="{% static 'js/home.js' %}?{% now 'U' %}" type="text/javascript"></script>
{% endblock footer_javascript_section %}

{% block content %}


<div class="container">
  
  <div class="row">
    <div class="date-picker col-md-12 justify" style="display: none;">

      <div class="row">
        <div class='col-sm-3 mx-auto'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
              <input id="date-picker" type='text' class="form-control" />
              <div id="date-picker-info" class="row">
                Date formats: dd-mm-yyyy, dd/mm/yyyy, ddmmyyyyy
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="calendar">
      <div class="calendar__month">
        <div class="cal-month__previous"><</div>
        <div class="cal-month__current"></div>
        <div class="cal-month__next">></div>
      </div>
      <div class="calendar__head">
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
      </div>
      <div class="calendar__body">
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
      </div>
    </div>
  </div>
  
  <h1>{% trans 'COURSES' %}</h1>
  <div class="courses row flex-row flex-nowrap">
    {% for course in courses %}
    <div class="col-md-6">
      <div class="course-wrapper row" onClick="location.href='/courses/{{course.pk}}'">
        <div class="course-title col-md-12">{{course.title}}</div>
        <div class="seen-icon col-md-2">
          <span class="course-seen glyphicon glyphicon-play"></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-12 show-more-button"><a href="/courses">{% trans 'SHOW_MORE' %}</a></div>
  </div>
  <!-- End Container -->
  
  
  
  
  <div class="modal fade" id="tought-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
        <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div class="modal-body p-4 row" id="result">
          <div class="col-md-6">
            <div class="col-md-12 section-title"><h1>{% trans 'FREETIME'%}</h1></div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12 section-title"><h1>{% trans 'WORKPLACE'%}</h1></div>
          </div>
          <div class="col-md-6 info-row">
            <div class="col-md-12">{% trans 'YOUR_MOOD'%}</div>
            <div id="tought-modal-mood-freetime" class="col-md-12"></div>
          </div>
          <div class="col-md-6 info-row">
            <div class="col-md-12">{% trans 'YOUR_MOOD'%}</div>
            <div id="tought-modal-mood-workplace" class="col-md-12"></div>
          </div>
          <div class="col-md-6 info-row">
            <div class="col-md-12">{% trans 'TOUGHTS'%}</div>
            <div id="tought-modal-tought-freetime" class="col-md-12"></div>
          </div>

          <div class="col-md-6 info-row">
            <div class="col-md-12">{% trans 'TOUGHTS'%}</div>
            <div id="tought-modal-tought-workplace" class="col-md-12"></div>
          </div>

          <div class="col-md-6 info-row">
            <div class="col-md-12">{% trans 'ACTIVITIES'%}</div>
            <div id="tought-modal-activities-freetime" class="row col-md-12"></div>
          </div>
          <div class="col-md-6 info-row">
            <div class="col-md-12">{% trans 'ACTIVITIES'%}</div>
            <div id="tought-modal-activities-workplace" class="row col-md-12"></div>
          </div>
   
      
          <div class="col-md-12 info-row">
            <div class="col-md-12">{% trans 'MOTIVATIONAL_QUOTE'%}</div>
            <div id="tought-modal-motivational-quote" class="col-md-12"></div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button id="view-statistics" type="button" class="align-self-end btn btn-lg btn-block btn-primary submit-button btn-sm waves-effect waves-light">{% trans 'VIEW_STATISTICS' %}</button>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}