{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block content %}
<div class="main">
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div id="freetime-line-chart" class="chart"></div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_WORKPLACE'%}</h1>
            <div id="workplace-line-chart" class="chart"></div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'COUNTER_FREETIME'%}</h1>
            <div id="freetime-bar-chart" class="chart" style="position: relative;">
                <div class="chart-helper-wrapper">
                    <canvas id="doughnut-chart-freetime" class="chart-helper"></canvas>
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'COUNTER_WORKPLACE'%}</h1>
            <div id="workplace-bar-chart" class="chart" style="position: relative;">
                <div class="chart-helper-wrapper">
                    <canvas id="doughnut-chart-workplace" class="chart-helper"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_FREETIME'%}</h1>
            <div class="chart">
                <div class="mood-buttons-container">
                    <div class="mood-buttons-wrapper">
                        {% for mood in moods %}
                        <div class="freetime-mood-button mood-button" data-mood="{{mood.value}}">
                            <img src="{% static mood.icon.name %}">
                            <div class="mood-text">
                                {% trans mood.i18n_key%}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <canvas id="freetime-radar-chart"></canvas>
                </div>
                <div class="related-radar-chart">
                    <div class="chart-related-wrapper" style="height:100vh">
                        <canvas id="related-freetime-radar-chart" ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_WORKPLACE'%}</h1>
            <div class="chart">
                <div class="mood-buttons-container">
                    <div class="mood-buttons-wrapper">
                        {% for mood in moods %}
                        <div class="workplace-mood-button mood-button" data-mood="{{mood.value}}">
                            <img src="{% static mood.icon.name %}">
                            <div class="mood-text">
                                {% trans mood.i18n_key%}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <canvas id="workplace-radar-chart" ></canvas>
                </div>
                <div class="related-radar-chart">
                    <div class="chart-related-wrapper"  style="height:100vh">
                        <canvas id="related-workplace-radar-chart" ></canvas>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>




<script>
    
    var moods = {
        {% for mood in moods %}
        {{mood.value}} : {
            'icon'  : "{% static mood.icon.name %}",
            'color' : '{{mood.color_code}}'
        },
        {% endfor %}
    }
    
    var dataFreetime = [
    {% for tought in toughts%}
    {
        "date": "{{tought.created_at|date:"d-m-Y" }}", //H:i
        "mood": "{{tought.mood.value}}",
        "name": "{{tought.mood.i18n_key}}",
        'mood_color' : '{{tought.mood.color_code}}',
        "activities": {{tought.activities|safe}},
        
    },
    {% endfor %}
    ]
    var dataWorkPlace = [
    {% for tought in workplace_toughts%}
    {
        "date": "{{ tought.created_at|date:"d-m-Y" }}", //H:i
        "mood": "{{tought.mood.value}}",
        "name": "{{tought.mood.i18n_key}}",
        'mood_color' : '{{tought.mood.color_code}}',
        "activities": {{tought.activities|safe}},
        
    },
    {% endfor %}
    ]
    
    
    
    dataFreetime.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    dataWorkPlace.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    
    
    
    
    
</script>
<script src="{% static 'js/statistics.js' %}?v={% now "U" %}" type="text/javascript"></script>
<script type="text/javascript">
    
    
    $(document).ready(function(){
        try{
            lineChart("#freetime-line-chart", dataFreetime)
        }catch(ex){
            $("#freetime-line-chart").replaceWith('<div class="wip-warning"></div>');
        }
        try{
            lineChart("#workplace-line-chart", dataWorkPlace)
        }catch(ex){
            $("#workplace-line-chart").replaceWith('<div class="wip-warning"></div>');
        }
        barChart("#freetime-bar-chart", dataFreetime,'freetime-radar-chart')
        barChart("#workplace-bar-chart", dataWorkPlace,'workplace-radar-chart')
        
        let firstMoodFTWithData = dataFreetime.find( t => t.activities && t.activities.length > 0 ).mood || 7
        configRadarChart('freetime-radar-chart', firstMoodFTWithData, dataFreetime)
        activityRadarChart('related-freetime-radar-chart', firstMoodFTWithData, dataFreetime)
        
        let firstMoodWPWithData = dataWorkPlace.find( t => t.activities && t.activities.length > 0 ).mood || 1
        configRadarChart('workplace-radar-chart', firstMoodWPWithData, dataWorkPlace)
        activityRadarChart('related-workplace-radar-chart',    firstMoodWPWithData, dataWorkPlace)
        
        doughnutChart('doughnut-chart-freetime',dataFreetime)
        doughnutChart('doughnut-chart-workplace',dataWorkPlace)
    })
</script>

{% endblock %}