{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block content %}
<div class="main">
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div id="freetime-line-chart" class="chart"></div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_MARKETPLACE'%}</h1>
            <div id="marketplace-line-chart" class="chart"></div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'COUNTER_FREETIME'%}</h1>
            <div id="freetime-bar-chart" class="chart"></div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'COUNTER_MARKETPLACE'%}</h1>
            <div id="marketplace-bar-chart" class="chart"></div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_FREETIME'%}</h1>
            <div class="chart">
                <div>
                    <canvas id="freetime-radar-chart"></canvas>
                </div>
                <div class="related-radar-chart">
                    <canvas id="related-freetime-radar-chart" ></canvas>
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_MARKETPLACE'%}</h1>
            <div class="chart">
                <div>
                    <canvas id="marketplace-radar-chart" ></canvas>
                </div>
                <div class="related-radar-chart">
                    <canvas id="related-marketplace-radar-chart" ></canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_FREETIME'%}</h1>
            <div class="row legend">
            </div>
            <canvas id="doughnut-chart-freetime" class="chart"></canvas>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_MARKETPLACE'%}</h1>
            <div class="row legend">
            </div>
            <canvas id="doughnut-chart-marketplace" class="chart"></canvas>
        </div>
    </div>
</div>




<script>
    function count(obj) { return Object.keys(obj).length; }
    
    var moods = {
        {% for mood in moods %}
        {{mood.value}} : {
            'icon'  : "{% static mood.icon.name %}"
        },
        {% endfor %}
    }
    
    var dataFreetime = [
    {% for tought in toughts%}
    {
        "date": "{{ tought.created_at|date:"d-m-Y" }}", //H:i
        "mood": "{{tought.mood.value}}",
        "name": "{{tought.mood.i18n_key}}",
        "activities": {{tought.activities|safe}},
        "freeTought" : "{{tought.text}}"

        },
        {% endfor %}
    ]
    var dataMarketPlace = [
        {% for tought in marketplace_toughts%}
        {
            "date": "{{ tought.created_at|date:"d-m-Y" }}", //H:i
            "mood": "{{tought.mood.value}}",
            "name": "{{tought.mood.i18n_key}}",
            "activities": {{tought.activities|safe}},
            "freeTought" : "{{tought.text}}"

        },
        {% endfor %}
    ]
    var img = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Noto_Emoji_KitKat_263a.svg/1200px-Noto_Emoji_KitKat_263a.svg.png"
    
    
    
    dataFreetime.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    dataMarketPlace.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    
    
    
    
    
</script>
<script src="{% static 'js/statistics.js' %}?v={% now "U" %}" type="text/javascript"></script>
<script type="text/javascript">
    function radarChart(chartDiv, selectedMood, data){
        var selectedMood = 7
        var causeEffectCanvas = document.getElementById(chartDiv);
        let labels = getActivities(selectedMood,data)
        let datasetData = getDataForActivities(labels, selectedMood,data)
        var causeEffectChartData = {
            labels: labels,
            datasets: [{
                backgroundColor: "rgba(200,0,0,0.2)",
                data: datasetData
            }]
            
        };

        radarChart = Chart.Radar(causeEffectCanvas, {
            data: causeEffectChartData,
            options: {
                legend: {
                    display: false
                }
            }
        });
    }
    
    $(document).ready(function(){
        lineChart("#freetime-line-chart", dataFreetime)
        lineChart("#marketplace-line-chart", dataMarketPlace)
        barChart("#freetime-bar-chart", dataFreetime)
        barChart("#marketplace-bar-chart", dataMarketPlace)
        configRadarChart('freetime-radar-chart',    7, dataFreetime)
        configRadarChart('marketplace-radar-chart', 1, dataMarketPlace)
        doughnutChart('doughnut-chart-freetime',dataFreetime)
        doughnutChart('doughnut-chart-marketplace',dataMarketPlace)
    })
</script>

{% endblock %}