{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
 <link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block content %}
<div id="area"></div>
<script>
        var data = [
        {% for tought in toughts%}
        {

            "date": "{{ tought.created_at|date:"d-m-Y" }}",
            "mood": "{{tought.mood.value}}"
        },

//{"item":3,"diameter":"25.00","img":img},{"item":4,"diameter":"7.00","img":img},

        {% endfor %}
    ]
        var img = "https://image.shutterstock.com/image-illustration/emoji-yellow-face-lol-laugh-260nw-669849526.jpg"
    function line_chart(field,el){ 
  margin = {
    top: 20,
    right: 20,
    bottom: 20,
    left: 45
  },
  tickno = 10,
  
  width = 960 - margin.left - margin.right,
  height = 450 - margin.top - margin.bottom,
  x = d3.scale.linear().domain(d3.extent(data, function (d) {
    return  Math.floor(Math.random() * 10);
}))
    .range([0, width]),
  ymax = d3.max(data,function(d){
    return (parseInt(d[field])+1);
}),
  ymin = d3.min(data,function(d){
    return d[field];
}),

  xmax = d3.max(data,function(d){
    return d.name;
}),
  y = d3.scale.linear()
    .domain([ymin,ymax])
    .range([height, 0]);

var line = d3.svg.line()
    .x(function (d) {
    return x( Math.floor(Math.random() * 10));
})
    .y(function (d) {
    return y(d[field]);
});

var zoom = d3.behavior.zoom()
    .x(x)
    .scaleExtent([1, 1])
    .y(y)
    .on("zoom", zoomed);

svg = d3.select(el)
    .append("svg:svg")
    .attr('width', width + margin.left + margin.right)
    .attr('height', height + margin.top + margin.bottom)
    .append("svg:g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .call(zoom);



svg.append("svg:rect")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "plot");

var make_x_axis = function () {
    return d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(tickno);
};

var make_y_axis = function () {
    return d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(tickno);
};

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(tickno);


svg.append("svg:g")
    .attr("class", "y axis")
    .attr("transform", "translate(-"+50+",0)")
    .call(yAxis)
    .selectAll(".tick").each(function(d,i){        
        d3.select(this)
          .append('image')
          .attr('xlink:href', img)
          .attr('y',0)
          .attr('width',40)
          .attr('height',40);
    });



/*
    .selectAll(".tick").each(function(data){       
      var tick = d3.select(this);
      var transform = d3.transform(tick.attr("transform")).translate;
      
      var g = document.createElement('g');
          g.setAttribute("transform",'translate('+transform[0]+','+transform[1]+')')
      var r = document.createElement('image')
          r.setAttribute('x',0)
          r.setAttribute('y',0)
          r.setAttribute('xlink:href','https://www.gravatar.com/avatar/904fd39461599f72d580fadf3a73115b?s=32&d=identicon&r=PG&f=1')
          r.setAttribute('width',50)
          r.setAttribute('height',50)
          g.appendChild(r);
          this.parentNode.insertBefore(g,this.nextSibling);
    })
*/
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(tickno);

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

svg.append("g")
    .attr("class", "x grid")
    .attr("transform", "translate(0," + height + ")")
    .call(make_x_axis()
    .tickSize(-height, 0, 0)
    .tickFormat(""));

svg.append("g")
    .attr("class", "y grid")
    .call(make_y_axis()
    .tickSize(-width, 0, 0)
    .tickFormat(""));


var clip = svg.append("svg:clipPath")
    .attr("id", "clip")
    .append("svg:rect")
    .attr("x", 0)
    .attr("y", 0)
    .attr("width", width)
    .attr("height", height);


var chartBody = svg.append("g")
    .attr("clip-path", "url(#clip)");

chartBody.append("svg:path")
    .datum(data)
    .attr("class", "line")
    .attr("d", line);

svg.append('g').attr('class','dots').selectAll(".dot").data(data).enter().append("circle").attr("r",3.5)
.attr("cx",function(d){ return x( Math.floor(Math.random() * 10));})
.attr("cy",function(d){ return y(d[field]);})

function zoomed() {
    
    svg.select(".dots")
        .attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
    
    svg.selectAll(".dots circle").attr("r", function(){
       return (3.5  * d3.event.scale);
    });

    svg.select(".x.axis").call(xAxis);
    svg.select(".y.axis").call(yAxis);
    svg.select(".x.grid")
        .call(make_x_axis()
        .tickSize(-height, 0, 0)
        .tickFormat(""));
    svg.select(".y.grid")
        .call(make_y_axis()
        .tickSize(-width, 0, 0)
        .tickFormat(""));
    svg.select(".line")
        .attr("class", "line")
        .attr("d", line);
    svg.selectAll(".dots circle").attr("r", function(){
     return (3.5  * d3.event.scale);
});
}
}
line_chart('mood','#area')




</script>
{% endblock %}