.curus-description{
    padding: 40px;
}
.tree{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
.counter{
    font-size: 36px;
    font-weight: bold;
    border-top-right-radius: 84px;
    border-bottom-left-radius: 50px;
    /* border: 2px solid greenyellow; */
    text-align: center;
    margin: 20px;
    color: #36acb8;
}
body{
    margin-bottom: 100px;
}
.happy-corus-info{
    color: #ee863f;
    font-weight: bold;
}
.curus-greeting{
    font-size: 11px;
    color: steelblue;
    margin-top: 10px;
    font-weight: bold;
}

