.container {
  height: 100%;
}
.title {
  margin: 0;
  text-align: center;
  font-size: 15px;
  padding: 18px 20px;
}

.date-text{
  display: table-cell;
  margin-left: 20px;
  font-weight: bold;
  border: 2px solid #222;
  padding:5px;
}
.date{
  margin: 0 auto;
  display: table;
}
.mood, .marketplace-mood{
  font-size: 65px;
  text-align: center;
  padding: 15px;
  margin: 15px;
}
.mood-text{
  font-size: 18px;
}
.moods-wrapper{
  margin-top: 33px;
}
.submit-button{
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.mood-selected{
  border: 2px solid yellow;
  background-color: #fbb034;
  border-radius: 48px;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.current-tought{
  margin-bottom: 150px;
}
.title {
  margin: 0;
  text-align: center;
  font-size: 15px;
  padding: 18px 20px;
}
#current-tought{
  resize: none;
}
.current-tought-form{
  margin-top:30px;
}
label[for="current-tought"]{
  text-align: center;
  width: 100%;
}
.tought{
  border: 2px solid lightgrey;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
  text-transform: capitalize;
}
.tought.happy-tought{
  border: 2px solid greenyellow;
}
section{
  height: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  margin: 0 auto;
}
.submit-button-container{
  bottom: 5px;
  right: 5px;
  left: 5px;
  height: 10%;
}
#page-wrapper{
  height: 100%;
}

.tought-selected{
  background: #ccc;
}
.freetime-box-selected, .marketplace-box-selected {
  background: #ccc;
  border-radius: 15px;
}
.freetime-box-wrapper, .marketplace-box-wrapper {
  padding : 5px;
}

.freetime-box{
  margin-top: 5px;
  text-align: center;
  padding: 5px;
  
}

.freetime-box > div{
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.freetime-box img, .freetime-box svg{
  width: 50px;
  height: 50px;
  margin: 21px auto 0 auto;
}
.icon-list{
  overflow: scroll;
}
.icon-list .card{
  width: 50px;
  height: 50px;
}
.icon-list .card img{
  width: 50px;
  height: 50px;
}
.icon-list-control{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.selected-icon-wrapper{
  padding-top: 50px;
}

#selected-icon{
  margin-top: 15px;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.mood img, .marketplace-mood img{
  width: 50px;
  height: 50px;
}
.daily-quote-section{
  position: relative;
  
}
#new-activity-name{
  font-size: 100%;
  margin: 15px auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#quote{
  font-size: 19px;
  padding: 15px;
}
.quote-container{
  text-align: center;
  border-bottom: 1px solid steelblue;
  border-top: 1px solid steelblue;
  color: steelblue;
  margin: 21px 35px;
  padding-bottom: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}
#author{
  font-size: 14px;
}
.current-tought{
  width: 100%;
  resize: none;
}
.curus-badge-white{
  background-size: 107px 100px;
  width: 107px;
  height: 100px;
}