@font-face {
  font-family: 'rubik';
  src: local('Rubik'),
       url('../fonts/Rubik/Rubik-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'rubikBold';
  src: local('RubikBold'),
       url('../fonts/Rubik/Rubik-Bold.ttf') format("truetype");
}

.navbar{
  background-image: url(../img/website_assets/header_menu.jpg);
}
.nav-link{
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

#header-img{
    width: 100%;
    height: 10%;
}
img, icon, svg {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  h1{
    font-size : 24px;
    width: 100%;
  }
p{
  color: #222;
}
*{
  font-family: 'rubik';
}