.curus-section{
    padding: 40px;
    background: #fff;
    border: 1px solid #36acb8;
    background: #36acb8;
    margin-top: 20px;
    -moz-border-top-left-radius: 100px;
    -moz-border-bottom-left-radius: 20px;
    -moz-border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 100px;
    margin: 25px;
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;

}



.curus-section:before, .curus-section:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.8);
    box-shadow:0 0 5px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-top-left-radius: 100px;
    -moz-border-bottom-left-radius: 20px;
    -moz-border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 100px;
}
.curus-section:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.tree{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
.counter{
    font-size: 36px;
    font-weight: bold;
    border-top-right-radius: 84px;
    border-bottom-left-radius: 50px;
    /* border: 2px solid greenyellow; */
    text-align: center;
    margin: 20px;
    /* color: #36acb8; */
}
body{
    margin-bottom: 100px;
}
.happy-corus-info{
    color: #ee863f;
    font-weight: bold;
    font-size: 16px;
}
.curus-greeting{
    font-size: 13px;
    color: steelblue;
    margin-top: 10px;
    font-weight: bold;
}

