
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3;
}
body{
  overflow-x: hidden;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}
.axis{
  stroke: orange;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
.chart-wrapper{
  margin-top: 15px;
  padding: 0 15px;
 
}
.chart {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  padding: 15px;
}


.main{
  padding: 15px 0;
  margin-top: 13px;
  background-color: #eff4f7;
  color: #777;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}


.axis {
  font: 10px sans-serif;
}

.wip-warning{
  background: url(../img/website_assets/icona_lavori_in_corso.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  display: block;
}
.wip-warning{
  background: url(../img/website_assets/not_enough_data.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}
svg text {
  fill:white;
  font: 10px sans-serif;
  text-anchor: end;
  letter-spacing: 0.6px;
}
.bar-text {
    fill:#222;
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle;
}
.related-radar-chart{
  margin: 15px;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}
.related-radar-chart::-webkit-scrollbar{
  display: auto;
}

::-webkit-scrollbar {
  width: 10px;
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: deepskyblue; 
}
.legend-mood-img{
  width: 10px;
  height: 10px;   
  padding: 0;
}
.legend-mood-color{
  width: 10px;
  height: 10px;
}
.legend-mood{
  margin-bottom: 10px
}
.progress-bar-vertical{
  width: 200px;
  min-height: 286px;
  margin-right: 20px;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}   
.radar-chart-mood-icon{
  width: 40px;
  height: 40px;
}

.progress-bar-vertical .progress-bar{
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  display:block;
  font-size: 25px;
  font-weight: bold;
}

.mood-button{
  width: 57px;
  height: 50px;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
.mood-button img:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid yellow;
  background-color: #fbb034;
  border-radius: 48px;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  cursor:pointer;
}

.chart-helper-wrapper{
  height: 100px;
  width: 200px;
  top: 30px;
  left: 30px;
  position: absolute;
}

#page-wrapper{
  margin-bottom: 0;
}

.mood-button img{
  width: 3vw;
  height: 3vw;
  margin: 0 auto;
  display: block;
}
.mood-buttons-container{
  height: 100px;
  border: 1px steelblue solid;
  border-radius: 15px;
  padding: 6px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.mood-text{
  font-size: 8px;
  text-align: center;
  display: inline-table;
}
.mood-buttons-wrapper{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
  display: table;
}
.chart-wrapper h1{
  font-weight: bold;
}

#freetime-bar-chart svg, #workplace-bar-chart svg{
  margin-top: 110px;
  margin-left: 15px;
}
.percentage-evaluation {
  position: relative;
}

.percentage-evaluation .tooltiptext {
  visibility: hidden;
  width: 364px;
  background-color: white;
  color: #222;
  border: 1px solid #222;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  margin: 0 20px;
  top: 40%;
}
.satisfation{
  display: flex;
}
.percentage-satisfation{
  text-align: right;
  width: 34px;
  margin-right: 2px;
  font-weight: bold;
}
.percentage-satisfation.danger{
  color: orange;
}
.percentage-satisfation.success{
  color: forestgreen;
}
.progress-bar-vertical:hover + .tooltiptext {
  visibility: visible;
}