
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
.axis{
    stroke: orange;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }
  .bar { 
      fill: steelblue;
    
    }
  .chart-wrapper{
    margin-top: 15px;
    padding: 0 15px;
  }
  .chart {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
  }
  
  .chart:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #line-chart{
      
  }
  #bar-chart{
  }

  h1{
    font-size : 24px;
  }

  .main{
    padding: 15px;
    background-color: #eff4f7;
    color: #777;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  }


  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  svg text {
    fill:white;
   font: 10px sans-serif;
   text-anchor: end;
}
.related-radar-chart{
    margin: 15px
}