{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
<link href="{% static 'css/courses.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}


{% block content %}
<div class="main">
    {% if course_to_see %}
    <div class="row">
        <h1>{% trans 'NEW_COURSES' %}</h1>
        <div class="col-md-6">
            <div class="course-wrapper row" onClick="location.href='/courses/{{course_to_see.pk}}'">
                <div class="card-info-container">
                    <h4 class="course-title">{{course_to_see.title}}</h4> 
                    <p class="course-description">{{course_to_see.description|truncatechars:65}}{% if course_to_see.description|length > 65 %}...{% endif %}</p> 
                </div>
                <div class="seen-icon col-md-2">
                    {% if not course_to_see.seen %}
                    <span class="course-seen glyphicon glyphicon-play"></span>
                    {% else %}
                    <span class="course-not-seen glyphicon glyphicon-repeat"></span>
                    {% endif %}
                </div>
                <div class="read-more col-md-12">{% trans 'READ_MORE' %}</div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <h1>{% trans 'PREVIOUS_COURSES' %}</h1>
        <div class="col-md-6">
            <div class="course-wrapper row" onClick="location.href='/courses/{{course_to_see.pk}}'">
                <div class="card-info-container">
                    <h4 class="course-title">{{course_to_see.title}}</h4> 
                    <p class="course-description">{{course_to_see.description|truncatechars:65}}{% if course_to_see.description|length > 65 %}...{% endif %}</p> 
                </div>
                <div class="seen-icon col-md-2">
                    {% if not course_to_see.seen %}
                    <span class="course-seen glyphicon glyphicon-play"></span>
                    {% else %}
                    <span class="course-not-seen glyphicon glyphicon-repeat"></span>
                    {% endif %}
                </div>
                <div class="read-more col-md-12">{% trans 'READ_MORE' %}</div>
            </div>
            <i class="manager-overview-employees">{{course_to_see_counter}} {% trans 'EMPLOYEES_THAT_HAVE_SEEN' %}</i>
        </div>
        {% for course in courses|slice:":4" %}
        <div class="col-md-6">
            <div class="course-wrapper row" onClick="location.href='/courses/{{course.course.pk}}'">
                <div class="card-info-container">
                    <h4 class="course-title">{{course.course.title}}</h4> 
                    <p class="course-description">{{course.course.description|truncatechars:65}}{% if course.course.description|length > 65 %}...{% endif %}</p> 
                </div>
                <div class="seen-icon col-md-2">
                    {% if not course.seen %}
                    <span class="course-seen glyphicon glyphicon-play"></span>
                    {% else %}
                    <span class="course-not-seen glyphicon glyphicon-repeat"></span>
                    {% endif %}
                </div>
                <div class="read-more col-md-12">{% trans 'READ_MORE' %}</div>
            </div>
            <i class="manager-overview-employees">{{course.employees_counter}} {% trans 'EMPLOYEES_THAT_HAVE_SEEN' %}</i>
        </div>
        {% endfor %}
        {% for course in courses|slice:"4:" %}
        <div class="collapse out budgets hidden-courses col-md-6">
            <div class="course-wrapper row" onClick="location.href='/courses/{{course.course.pk}}'">
                <div class="card-info-container">
                    <h4 class="course-title">{{course.course.title}}</h4> 
                    <p class="course-description">{{course.course.description|truncatechars:65}}{% if course.course.description|length > 65 %}...{% endif %}</p> 
                </div>
                <div class="seen-icon col-md-2">
                    {% if not course.seen %}
                    <span class="course-seen glyphicon glyphicon-play"></span>
                    {% else %}
                    <span class="course-not-seen glyphicon glyphicon-repeat"></span>
                    {% endif %}
                </div>
                <div class="read-more col-md-12">{% trans 'READ_MORE' %}</div>
            </div>
            <i class="manager-overview-employees">{{course.employees_counter}} {% trans 'EMPLOYEES_THAT_HAVE_SEEN' %}</i>
            
        </div>
        {% endfor %}
    </div>
    {% if courses|length > 4 %}
    <button class="btn btn-primary show-more col-md-2" data-toggle="collapse" data-target=".hidden-courses">Show more</button>
    {% endif %}
</div>
{% endblock %}