{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head_css_section %}
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
<link href="{% static 'css/courses.css' %}?{% now "U" %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block footer_javascript_section %}
<script type="text/javascript">
  $(document).ready(()=>$('#view-statistics').hide())
  var manager = true;
</script>
<script src="{% static 'js/home.js' %}?{% now "U" %}" type="text/javascript"></script>
<script src="{% static 'js/statistics.js' %}?{% now "U" %}" type="text/javascript"></script>
{% endblock footer_javascript_section %}

{% block content %}
<div id="manager-home" class="container">
  <div class="row">
    <div class="date-picker col-md-12 justify" style="display: none;">
      
      <div class="row">
        <div class='col-sm-3 mx-auto'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
              <input id="date-picker" type='text' class="form-control" />
              <div id="date-picker-info" class="row">
                Date formats: dd-mm-yyyy, dd/mm/yyyy, ddmmyyyyy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar col-md-6">
      <div class="calendar__month">
        <div class="cal-month__previous"><</div>
        <div class="cal-month__current"></div>
        <div class="cal-month__next">></div>
      </div>
      <div class="calendar__head">
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
        <div class="cal-head__day"></div>
      </div>
      <div class="calendar__body">
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
        <div class="cal-body__week">
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
          <div class="cal-body__day"></div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 overview-charts" onclick="location.href='/statistics'">
      <h1>{% trans 'COMPLETE_STATISTICS' %}</h1>
    
    <div class="percentage-evaluation row sparkboxes mt-4 mb-4">
      <div class="chart-wrapper col-md-6">
        <div class="progress progress-bar-vertical">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_freetime_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_freetime_percentage}}% ;background-color: {% if average_mood_freetime_percentage > 65 %} lightgreen {% elif average_mood_freetime_percentage > 40%} darkorange {% else %} red {% endif%}">
            {{average_mood_freetime_percentage}}%
          </div>
        </div>
      </div>
      <div class="chart-wrapper col-md-6">
        <div class="progress progress-bar-vertical">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_workplace_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_workplace_percentage}}%; background-color: {% if average_mood_workplace_percentage > 65 %} lightgreen {% elif average_mood_workplace_percentage > 40%} darkorange {% else %} red {% endif%}" >
            {{average_mood_workplace_percentage}}%
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-center-block">
        <div id="freetime-bar-chart" class="chart" style="position: relative;">
        </div>
      </div>
      <div class="col-md-6 col-center-block">
        <div id="workplace-bar-chart" class="chart" style="position: relative;">
        </div>
      </div>
    </div>
  
    <!-- <div class="col-md-4 show-more-button"><a href="/statistics">{% trans 'SHOW_MORE' %}</a></div> -->
    
  </div>
</div>
<h1>{% trans 'COURSES' %}</h1>
<div class="scroll-x courses row flex-row flex-nowrap">
  {% for course in courses %}
  <div class="col-md-4">
    <div class="course-wrapper row" onClick="location.href='/courses/{{course.pk}}'">
      <div class="course-title col-md-10">{{course.title}}</div>
      <div class="seen-icon col-md-2">
        <span class="course-seen glyphicon glyphicon-play"></span>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-md-4">
    <div class="show-more-button"><a href="/courses">{% trans 'SHOW_MORE' %}</a></div>
  </div>
</div>




</div> <!-- End Container -->



<div class="modal fade" id="tought-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-body p-4" id="result"></div>
      <div class="modal-footer">
        <button id="view-statistics" type="button" class="align-self-end btn btn-lg btn-block btn-primary submit-button btn-sm waves-effect waves-light">{% trans 'VIEW_STATISTICS' %}</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var moods = {
    {% for mood in moods %}
    {{mood.value}} : {
      'icon'  : "{% static mood.icon.name %}",
      'color' : '{{mood.color_code}}'
      
    },
    {% endfor %}
  }
  
  
  $.ajax({
    url : '/manager_tought_moods_count/',
    method: 'GET',
    success:function(response){
      var freetimeData = []
      for(var i = 0; i < response['freetime_toughts'].length ; i++){
        var tought = response['freetime_toughts'][i];
        freetimeData.push({
          "date": new Date(tought['created_at']), //H:i
          "mood": tought['mood']['value'],
          "name": tought['mood']['i18n_key'],
          'mood_color' : tought['mood']['i18n_key'],
        })
      }
      var workplaceData = []
      for(var i = 0; i < response['workplace_toughts'].length ; i++){
        var tought = response['workplace_toughts'][i];
        workplaceData.push({
          "date": new Date(tought['created_at']), //H:i
          "mood": tought['mood']['value'],
          "name": tought['mood']['i18n_key'],
          'mood_color' : tought['mood']['i18n_key'],
        })
      }
      const style = {
        margin:  {
        top: 20,
        right: 10,
        bottom: 30,
        left: 10
      },
        width: window.innerWidth/7,
        height: 100
      }
      barChart("#freetime-bar-chart", freetimeData,'freetime-radar-chart', style, false )
      barChart("#workplace-bar-chart", workplaceData,'workplace-radar-chart', style, false )
      
      // doughnutChart('doughnut-chart-freetime',freetimeData)
      // doughnutChart('doughnut-chart-workplace',workplaceData)
    }
  })
</script>

{% endblock %}