{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head_css_section %}
<link href="{% static 'css/home.css' %}?{% now "U" %}" rel="stylesheet">
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
<link href="{% static 'css/courses.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block footer_javascript_section %}
<script type="text/javascript">
  $(document).ready(()=>$('#view-statistics').hide())
  var manager = true;
</script>
<script src="{% static 'js/home.js' %}?{% now "U" %}" type="text/javascript"></script>
<script src="{% static 'js/statistics.js' %}?{% now "U" %}" type="text/javascript"></script>
{% endblock footer_javascript_section %}

{% block content %}


<div class="container">
  <div class="calendar">
    <div class="calendar__month">
      <div class="cal-month__previous"><</div>
      <div class="cal-month__current"></div>
      <div class="cal-month__next">></div>
    </div>
    <div class="calendar__head">
      <div class="cal-head__day"></div>
      <div class="cal-head__day"></div>
      <div class="cal-head__day"></div>
      <div class="cal-head__day"></div>
      <div class="cal-head__day"></div>
      <div class="cal-head__day"></div>
      <div class="cal-head__day"></div>
    </div>
    <div class="calendar__body">
      <div class="cal-body__week">
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
      </div>
      <div class="cal-body__week">
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
      </div>
      <div class="cal-body__week">
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
      </div>
      <div class="cal-body__week">
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
      </div>
      <div class="cal-body__week">
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
      </div>
      <div class="cal-body__week">
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
        <div class="cal-body__day"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>{% trans 'COURSES' %}</h1>
    {% for course in courses %}
    <div class="col-md-4">
      <div class="course-wrapper row" onClick="location.href='/courses/{{course.pk}}'">
        <div class="course-title col-md-10">{{course.title}}</div>
        <div class="seen-icon col-md-2">
          <span class="course-seen glyphicon glyphicon-play"></span>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-md-4">
      <div class="show-more-button"><a href="/courses">{% trans 'SHOW_MORE' %}</a></div>
    </div>
  </div>
  
  
  <h1>{% trans 'COMPLETE_STATISTICS' %}</h1>
  <div class="row overview-charts">
    <div class="col-md-4">
      <div class="chart">
        <div id="first-mood-counter-chart-legend"></div>
        <canvas id="first-mood-counter-chart" ></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart">
        <div id="second-mood-counter-chart-legend"></div>
        <canvas id="second-mood-counter-chart" ></canvas>
      </div>
    </div>
    <div class="col-md-4 show-more-button"><a href="/statistics">{% trans 'SHOW_MORE' %}</a></div>

  </div>
  
</div> <!-- End Container -->



<div class="modal fade" id="tought-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-body p-4" id="result"></div>
      <div class="modal-footer">
        <button id="view-statistics" type="button" class="btn btn-secondary">{% trans 'VIEW_STATISTICS' %}</button>
      </div>
    </div>
  </div>
</div>

















<script type="text/javascript">
  
  $.ajax({
    url : '/manager_tought_moods_count/',
    method: 'GET',
    success:function(response){
      let ftMoods = Object.keys(response['FT'])
      let mpMoods = Object.keys(response['MP'])
      
      doughnutMoodCountChart('first-mood-counter-chart', response['FT'][ftMoods[0]])
      doughnutMoodCountChart('second-mood-counter-chart', response['MP'][mpMoods[1]])
      
      
    }
  })
</script>

{% endblock %}