{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block content %}

<div class="main">
    <div class="percentage-evaluation row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div class="progress progress-bar-vertical">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_freetime_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_freetime_percentage}}%;
                background-color: {% if average_mood_freetime_percentage > 65 %} lightgreen {% elif average_mood_freetime_percentage > 40%} darkorange {% else %} red {% endif%}"
                >
                {{average_mood_freetime_percentage}}%
                </div>
            </div>
            <div class="tooltiptext">
                <span class="satisfation" data-target="weeklyFT">{% trans 'WEEKLY_SATISFATION' %}</span><br>
                <span class="satisfation" data-target="monthlyFT">{% trans 'MOTHLY_SATISFATION' %}</span><br>
                <span class="satisfation" data-target="fromBeginningFT">{% trans 'FROM_THE_BEGINNING_SATISFATION' %}</span><br>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_WORKPLACE'%}</h1>
            <div class="progress progress-bar-vertical">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_workplace_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_workplace_percentage}}%;
                background-color: {% if average_mood_workplace_percentage > 65 %} lightgreen {% elif average_mood_workplace_percentage > 40%} darkorange {% else %} red {% endif%}"
                >
                {{average_mood_workplace_percentage}}%
                </div>
            </div>
            <div class="tooltiptext">
                <span class="satisfation" data-target="weeklyWP">{% trans 'WEEKLY_SATISFATION' %}</span><br>
                <span class="satisfation" data-target="monthlyWP">{% trans 'MOTHLY_SATISFATION' %}</span><br>
                <span class="satisfation" data-target="fromBeginningWP">{% trans 'FROM_THE_BEGINNING_SATISFATION' %}</span><br>
            </div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div id="legend-freetime-line-chart" class="row legend"></div>
            <canvas id="freetime-line-chart" class="chart"></canvas>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_WORKPLACE'%}</h1>
            <div id="legend-workplace-line-chart" class="row legend"></div>
            <canvas id="workplace-line-chart" class="chart"></canvas>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div id="average-freetime-line-chart" class="chart"></div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_WORKPLACE'%}</h1>
            <div id="average-workplace-line-chart" class="chart"></div>
        </div>
    </div>
    {% for index in best_mood_counts %}
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_FREETIME'%}</h1>
            <div class="chart">
                <div class="row">
                        <div class="col-md-3">
                            <img id="freetime-mood-{{index}}" class="radar-chart-mood-icon"/>
                        </div>
                    </div>
                <div>
                    <canvas id="freetime-radar-chart{{index}}"></canvas>
                </div>
                <div class="related-radar-chart">
                    <canvas id="related-freetime-radar-chart{{index}}" ></canvas>
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_WORKPLACE'%}</h1>
            <div class="chart">
                    <div class="row">
                        <div class="col-md-3">
                            <img id="workplace-mood-{{index}}" class="radar-chart-mood-icon"/>
                        </div>
                    </div>
                <div>
                    <canvas id="workplace-radar-chart{{index}}" ></canvas>
                </div>
                <div class="related-radar-chart">
                    <canvas id="related-workplace-radar-chart{{index}}" ></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>



<script src="{% static 'js/statistics.js' %}?v={% now "U" %}" type="text/javascript"></script>
<script>
    var moods = {
            {% for mood in moods %}
            {{mood.value}} : {
                'icon'  : "{% static mood.icon.name %}"
            },
            {% endfor %}
        }
        
    var dates = []    
    var freetimeAverageMoods= []
    var workplaceAverageMoods= []
    var dataWorkPlace = {}
    var dataFreetime = {}
    {% for average in average_moods%}
        {% for mood,value in average.moods.freetime_moods_count.items %}
            if(!dataFreetime[{{mood}}])
            dataFreetime[{{mood}}]={
                    backgroundColor : randomRgba(),
                    data: []
            } 
            dataFreetime[{{mood}}].data.push({{value}})
        {% endfor %}

        {% for mood,value in average.moods.workplace_moods_count.items %}
            if(!dataWorkPlace[{{mood}}])
            dataWorkPlace[{{mood}}]={
                    backgroundColor : randomRgba(),
                    data: []
                } 
            dataWorkPlace[{{mood}}].data.push({{value}})
        {% endfor %}
        dates.push('{{average.date|date:"d-m-Y" }}')

        freetimeAverageMoods.push({
             "date": '{{average.date|date:"d-m-Y"}}', //H:i
             "mood": '{{average.average_mood_freetime|stringformat:"f"}}'
            
            })

        workplaceAverageMoods.push({
             "date": '{{average.date|date:"d-m-Y"}}', //H:i
             "mood": '{{average.average_mood_workplace|stringformat:"f"}}' 
            })

    {% endfor %}

    freetimeAverageMoods.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    workplaceAverageMoods.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    var moods = {
        {% for mood in moods %}
        {{mood.value}} : {
            'icon'  : "{% static mood.icon.name %}",
            'color' : '{{mood.color_code}}'

        },
        {% endfor %}
    }
    
    var chartDataFreetime = [
    {% for a in podium_moods_freetime_activities%}
        {
        "mood": "{{a.mood_value}}",
        "name": "{{a.mood_i18n_key}}",
        "activities": {{a.activities|safe}},
        },
        {% endfor %}
    ]
    var chartDataWorkPlace = [
        {% for a in podium_moods_workplace_activities%}
        {
            "mood": "{{a.mood_value}}",
            "name": "{{a.mood_i18n_key}}",
            "activities": {{a.activities|safe}},

        },



        {% endfor %}
    ]

    
    
</script>
<script type="text/javascript">
    var satisfation = {
        weeklyFT: {{weekly_difference_average_freetime_percentage}},
        weeklyWP: {{weekly_difference_average_workplace_percentage}},
        monthlyFT: {{monthly_difference_average_freetime_percentage}},
        monthlyWP: {{monthly_difference_average_workplace_percentage}},
        fromBeginningFT: {{from_begin_difference_average_freetime_percentage}},
        fromBeginningWP: {{from_begin_difference_average_workplace_percentage}}
    }



    $(document).ready(function(){
        $('.satisfation').each((index,el)=>{
            try {
                var value = satisfation[$(el).data('target')]
                $(el).html($(el).text().replace('${PERCENTAGE}',`<div class="percentage-satisfation `+ ( value > 0 ? 'success' : 'danger' )  + `">${value}%</div>`))
            }catch{
                //error with value
            }
        });



        var somethingFailed = false
        try{
            lineChart("#average-freetime-line-chart", freetimeAverageMoods)
            managerLineChart('freetime-line-chart', dataFreetime)
        }catch(ex){
            console.log(ex)

            somethingFailed = true
            $("#average-freetime-line-chart").replaceWith('<div class="wip-warning"></div>');
            $('#freetime-line-chart').parent().hide();
        }
        try{
            lineChart("#average-workplace-line-chart", workplaceAverageMoods)
            managerLineChart('workplace-line-chart', dataWorkPlace)
        }catch(ex){
            somethingFailed = true
            console.log(ex)
            $("#average-workplace-line-chart").replaceWith('<div class="wip-warning"></div>');
            $('#workplace-line-chart').parent().hide();
        }

        if(somethingFailed){
            $('.percentage-evaluation').hide()
        }

        // barChart("#freetime-bar-chart", dataFreetime)
        // barChart("#workplace-bar-chart", dataWorkPlace)
        {% for a in podium_moods_freetime_activities %}
            $('#freetime-mood-{{forloop.counter}}').attr('src', '{% static a.mood_icon %}')
            if(configRadarChart('freetime-radar-chart{{forloop.counter}}',{{a.mood_value}}, chartDataFreetime))
                activityRadarChart('related-freetime-radar-chart{{forloop.counter}}',{{a.mood_value}}, chartDataFreetime)
        {% endfor %}
        {% for a in podium_moods_workplace_activities %}
            $('#workplace-mood-{{forloop.counter}}').attr('src', '{% static a.mood_icon %}')
            if(configRadarChart('workplace-radar-chart{{forloop.counter}}',{{a.mood_value}}, chartDataWorkPlace)){
                activityRadarChart('related-workplace-radar-chart{{forloop.counter}}',{{a.mood_value}}, chartDataWorkPlace)
            }
        {% endfor %}
        // doughnutChart('doughnut-chart-freetime',dataFreetime)
        // doughnutChart('doughnut-chart-workplace',dataWorkPlace)
        $('canvas').each((index,el)=>{ $(el).hide()})
        setTimeout(()=>{
            $('canvas').each((index,el)=>{
                if(el.className == '' &&  index%2 != 0){
                    $(el).parent().parent().replaceWith('<div class="wip-warning"></div>');
                }
                else{
                    $(el).show(300)
                }
            })
        },700)
        



    })
</script>

{% endblock %}