{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block content %}
<div class="main">
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div class="progress progress-bar-vertical">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_freetime_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_freetime_percentage}}%;
                background-color: {% if average_mood_freetime_percentage > 65 %} lightgreen {% elif average_mood_freetime_percentage > 40%} darkorange {% else %} red {% endif%}"
                >
                {{average_mood_freetime_percentage}}%
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_MARKETPLACE'%}</h1>
            <div class="progress progress-bar-vertical">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_marketplace_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_marketplace_percentage}}%;
                background-color: {% if average_mood_marketplace_percentage > 65 %} lightgreen {% elif average_mood_marketplace_percentage > 40%} darkorange {% else %} red {% endif%}"
                >
                {{average_mood_marketplace_percentage}}%
                </div>
            </div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div class="row legend"></div>
            <canvas id="freetime-line-chart" class="chart"></canvas>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_MARKETPLACE'%}</h1>
            <div class="row legend"></div>
            <canvas id="marketplace-line-chart" class="chart"></canvas>
        </div>
    </div>
</div>



<script src="{% static 'js/statistics.js' %}?v={% now "U" %}" type="text/javascript"></script>

<script>
    var moods = {
            {% for mood in moods %}
            {{mood.value}} : {
                'icon'  : "{% static mood.icon.name %}"
            },
            {% endfor %}
        }
        
    var dates = []    
    var dataMarketPlace = {}
    var dataFreetime = {}
    {% for average in average_moods%}
        {% for mood,value in average.moods.freetime_moods_count.items %}
            if(!dataFreetime[{{mood}}])
            dataFreetime[{{mood}}]={
                    backgroundColor : randomRgba(),
                    data: []
            } 
            dataFreetime[{{mood}}].data.push({{value}})
        {% endfor %}
        {% for mood,value in average.moods.marketplace_moods_count.items %}
            if(!dataMarketPlace[{{mood}}])
            dataMarketPlace[{{mood}}]={
                    backgroundColor : randomRgba(),
                    data: []
                } 
            dataMarketPlace[{{mood}}].data.push({{value}})
        {% endfor %}
        dates.push('{{average.date|date:"d-m-Y" }}')
    {% endfor %}
    
    
</script>
<script type="text/javascript">
    
    $(document).ready(function(){
        managerLineChart('freetime-line-chart', dataFreetime)
        managerLineChart('marketplace-line-chart', dataMarketPlace)
        // lineChart("#freetime-line-chart", dataFreetime)
        // lineChart("#marketplace-line-chart", dataMarketPlace)
        // barChart("#freetime-bar-chart", dataFreetime)
        // barChart("#marketplace-bar-chart", dataMarketPlace)
        // configRadarChart('freetime-radar-chart',    7, dataFreetime)
        // configRadarChart('marketplace-radar-chart', 1, dataMarketPlace)
        // doughnutChart('doughnut-chart-freetime',dataFreetime)
        // doughnutChart('doughnut-chart-marketplace',dataMarketPlace)
    })
</script>

{% endblock %}