{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css_section %}
<link href="{% static 'css/statistics.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head_css_section %}

{% block content %}
<div class="main">
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div class="progress progress-bar-vertical">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_freetime_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_freetime_percentage}}%;
                background-color: {% if average_mood_freetime_percentage > 65 %} lightgreen {% elif average_mood_freetime_percentage > 40%} darkorange {% else %} red {% endif%}"
                >
                {{average_mood_freetime_percentage}}%
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_MARKETPLACE'%}</h1>
            <div class="progress progress-bar-vertical">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{average_mood_marketplace_percentage}}" aria-valuemin="0" aria-valuemax="100" style="height:{{average_mood_marketplace_percentage}}%;
                background-color: {% if average_mood_marketplace_percentage > 65 %} lightgreen {% elif average_mood_marketplace_percentage > 40%} darkorange {% else %} red {% endif%}"
                >
                {{average_mood_marketplace_percentage}}%
                </div>
            </div>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div class="row legend"></div>
            <canvas id="freetime-line-chart" class="chart"></canvas>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_MARKETPLACE'%}</h1>
            <div class="row legend"></div>
            <canvas id="marketplace-line-chart" class="chart"></canvas>
        </div>
    </div>
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_FREETIME'%}</h1>
            <div id="average-freetime-line-chart" class="chart"></div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'HISTORICAL_TREND_MARKETPLACE'%}</h1>
            <div id="average-marketplace-line-chart" class="chart"></div>
        </div>
    </div>
    {% for index in best_mood_counts %}
    <div class="row sparkboxes mt-4 mb-4">
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_FREETIME'%}</h1>
            <div class="chart">
                <div class="row">
                        <div class="col-md-3">
                            <img id="freetime-mood-{{index}}" class="radar-chart-mood-icon"/>
                        </div>
                    </div>
                <div>
                    <canvas id="freetime-radar-chart{{index}}"></canvas>
                </div>
                <div class="related-radar-chart">
                    <canvas id="related-freetime-radar-chart{{index}}" ></canvas>
                </div>
            </div>
        </div>
        <div class="chart-wrapper col-md-6">
            <h1>{% trans 'CAUSE_EFFECT_MARKETPLACE'%}</h1>
            <div class="chart">
                    <div class="row">
                        <div class="col-md-3">
                            <img id="marketplace-mood-{{index}}" class="radar-chart-mood-icon"/>
                        </div>
                    </div>
                <div>
                    <canvas id="marketplace-radar-chart{{index}}" ></canvas>
                </div>
                <div class="related-radar-chart">
                    <canvas id="related-marketplace-radar-chart{{index}}" ></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>



<script src="{% static 'js/statistics.js' %}?v={% now "U" %}" type="text/javascript"></script>

<script>
    var moods = {
            {% for mood in moods %}
            {{mood.value}} : {
                'icon'  : "{% static mood.icon.name %}"
            },
            {% endfor %}
        }
        
    var dates = []    
    var freetimeAverageMoods= []
    var marketplaceAverageMoods= []
    var dataMarketPlace = {}
    var dataFreetime = {}
    {% for average in average_moods%}
        {% for mood,value in average.moods.freetime_moods_count.items %}
            if(!dataFreetime[{{mood}}])
            dataFreetime[{{mood}}]={
                    backgroundColor : randomRgba(),
                    data: []
            } 
            dataFreetime[{{mood}}].data.push({{value}})
        {% endfor %}
        {% for mood,value in average.moods.marketplace_moods_count.items %}
            if(!dataMarketPlace[{{mood}}])
            dataMarketPlace[{{mood}}]={
                    backgroundColor : randomRgba(),
                    data: []
                } 
            dataMarketPlace[{{mood}}].data.push({{value}})
        {% endfor %}
        dates.push('{{average.date|date:"d-m-Y" }}')

        freetimeAverageMoods.push({
             "date": '{{average.date|date:"d-m-Y"}}', //H:i
             "mood": '{{average.average_mood_freetime|stringformat:"f"}}'
            
            })

        marketplaceAverageMoods.push({
             "date": '{{average.date|date:"d-m-Y"}}', //H:i
             "mood": '{{average.average_mood_marketplace|stringformat:"f"}}' 
            })

    {% endfor %}

    freetimeAverageMoods.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    marketplaceAverageMoods.forEach(function(d){
        d.date = d3.timeParse("%d-%m-%Y")(d.date) //%H:%M
        d.mood = d.mood 
    })
    var moods = {
        {% for mood in moods %}
        {{mood.value}} : {
            'icon'  : "{% static mood.icon.name %}"
        },
        {% endfor %}
    }
    
    var chartDataFreetime = [
    {% for a in podium_moods_freetime_activities%}
        {
        "mood": "{{a.mood_value}}",
        "name": "{{a.mood_i18n_key}}",
        "activities": {{a.activities|safe}},
        },
        {% endfor %}
    ]
    var chartDataMarketPlace = [
        {% for a in podium_moods_marketplace_activities%}
        {
            "mood": "{{a.mood_value}}",
            "name": "{{a.mood_i18n_key}}",
            "activities": {{a.activities|safe}},

        },



        {% endfor %}
    ]

    
    
</script>
<script type="text/javascript">
    
    $(document).ready(function(){
        managerLineChart('freetime-line-chart', dataFreetime)
        managerLineChart('marketplace-line-chart', dataMarketPlace)
        lineChart("#average-freetime-line-chart", freetimeAverageMoods)
        lineChart("#average-marketplace-line-chart", marketplaceAverageMoods)

        // barChart("#freetime-bar-chart", dataFreetime)
        // barChart("#marketplace-bar-chart", dataMarketPlace)
        {% for a in podium_moods_freetime_activities %}
            $('#freetime-mood-{{forloop.counter}}').attr('src', '{% static a.mood_icon %}')
            configRadarChart('freetime-radar-chart{{forloop.counter}}',{{a.mood_value}}, chartDataFreetime)
        {% endfor %}
        {% for a in podium_moods_marketplace_activities %}
            $('#marketplace-mood-{{forloop.counter}}').attr('src', '{% static a.mood_icon %}')
            configRadarChart('marketplace-radar-chart{{forloop.counter}}',{{a.mood_value}}, chartDataMarketPlace)
        {% endfor %}
        // doughnutChart('doughnut-chart-freetime',dataFreetime)
        // doughnutChart('doughnut-chart-marketplace',dataMarketPlace)
    })
</script>

{% endblock %}