{% load static %}
{% load i18n %}
<html>
<head>
    <title>{% block title %} Application {% endblock title %} | Happycurus</title>
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
    <meta name="author" content="Luigi Chougrad" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_favicon %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    {% endblock head_favicon %}
    {% block head_css %}
    <link href="{% static 'css/bootstrap.min.css' %}"
    rel="stylesheet" media="screen">
    <link href="{% static 'css/app.css' %}?v={% now "U" %}"
    rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.20/angular-material.css"
    rel="stylesheet">
    
    {% block head_css_site %}
    
    {% endblock head_css_site %}
    
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
    {% block footer_javascript %}
    {% block footer_javascript_site %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        window['None']  = null;
        window['True']  = true;
        window['False'] = false
    
    </script><!-- to avoid error from bknd -->
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}?v={% now "U" %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script src="{% static 'js/chart-js-zoom-plugin.js' %}"></script>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-zoom.v1.min.js"></script>

    
    {% endblock footer_javascript_site %}
    {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</head>


<script>
    const i18n = {
        'SELECT_DATE_BEFORE_TODAY' : "{% trans 'SELECT_A_DAY_BEFORE_TODAY' %}",
        'MISSING_FIELDS' : "{% trans 'MISSING_FIELDS' %}",
        'FREETIME_MOOD_COUNT': "{% trans 'CAUSE_EFFECT_FREETIME' %}",
        'WORKPLACE_MOOD_COUNT': "{% trans 'CAUSE_EFFECT_WORKPLACE' %}",
        'COULD_NOT_PROCESS_SELECTED_DATE': "{% trans 'COULD_NOT_PROCESS_SELECTED_DATE' %}",
        'NO_DATA': "{% trans 'NO_DATA' %}",

    }


    $('document').ready(()=>{
        $('a[href="/' + location.pathname.split('/')[1] +'"]').parent().addClass('active')
        $('#page-wrapper').css('display', 'block');
        $('#spinit').hide(500)
    })
    
</script>
<giordy></giordy>

<body>
    <div id="spinit"></div>
    <div id="page-wrapper" style="display:none">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light static-top">
            <img id="header-img" src="{% static 'img/website_assets/ribbon-2090126.jpg' %}" />

            <div class="container">
                <a id="application-brand" class="navbar-brand" href="#">
                    <img width="94" height="50" src="{% static 'img/website_assets/logo.png' %}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive" style="border-bottom: 1px solid {% if request.user.is_manager %} steelblue {% else %} #ccc {% endif %};">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">{% trans 'MY_HAPPYCURUS' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/statistics">{% trans 'MY_STATISTICS' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">{% trans 'MY_LEARNING_MATERIAL' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/curus">{% trans 'CURUS_FOR_THE_ENVIRONMENT' %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <div id="snackbar"></div>
        <!-- <script>
            $(document).ready(()=>{
                $('#body-wrapper').hide()
                $('#spinit').show(500)
                $('.nav-item .nav-link').click(function(){
                    $.ajax({
                        url: $(this).data('target'),
                        method: 'GET',
                        success: function(response){
                            console.log(response)
                            $('#spinit').hide(500)
                            $('#body-wrapper').html(response)
                            $('#body-wrapper').show()
                            console.log( $('#spinit'))
                        },
                        error: (e)=>console.log(e)
                    })
                })
            })
    </script> -->
    </div>
</body>


</html>